<template lang="pug">
v-toolbar(component="header" color="surface" height="100")
    img.ml-4.logo(src="/assets/logo_fuhem.png", alt="Logo de Fuhem")
    img.ml-4.logo(src="/assets/logo_vinculo_ecosocial.png", alt="Logo de Vínculo ecosocial")
    span.ml-4 PROECOS
    v-spacer
    div.mr-4
        SwitchLocaleBtn
        v-btn(v-if="isAdmin" icon="mdi-cog" @click="navigateTo('/config')")
        v-btn(v-if="status == 'authenticated'" icon="mdi-logout" @click='logout' variant="text")   
</template>

<script setup>
import { Role } from '~/ddd/auth/domain/user';

const { status, signOut } = useAuth()
const { data: session } = useAuthState()

const isAdmin = ref(false)
if(session.value != undefined)
isAdmin.value = session.value.user.role == Role.ADMIN

async function logout() {
    const result = await signOut({ callbackUrl: '/login' })
}
</script>

<style scoped lang="scss">
  header {
    border-bottom: 1px solid rgb(var(--v-theme-light-border));
    z-index: 20;
    width: 100%;
    
    .logo {
      height: 68px; // 100px - 2rem
      width: auto;
      object-fit: contain;
    }
    
    span {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
</style>