<template lang='pug'>
v-row(align='center' justify='center')
    v-col.pa-md-3(cols='12' md="5" lg="4" xl="3")
        h1 {{$t('license.edit')}}
        v-divider
        v-form(ref='editLicenseForm')
            v-text-field(v-model='name' type='name'
                v-bind='nameAttrs'
                :label='$t("license.name")' autocomplete='name'
            )
            v-text-field(v-model='maxUsers' type='number'
                v-bind='maxUsersAttrs'
                :label='$t("license.maxUsers")' autocomplete='maxUsers'
            )
            v-text-field(v-model='usageLimit' type="number"
                v-bind='usageLimitAttrs'
                :label="$t('license.usageLimit')"
            )
            v-row.mt-2
                v-col 
                    div.d-flex
                        Btn(variant="text" @click="navigateTo('/admin')" :label="$t('common.back')")
                            template(v-slot:prepend) 
                                v-icon(icon="mdi-arrow-left")
                                
                        v-spacer
                        Btn.mr-2(variant="elevated" @click='toggleDeleteLicenseDialog' :disabled='loading' color='red' :label="$t('common.delete')")
                        Btn(variant="elevated" @click='updateLicense' :disabled='loading' :loading='loading' :label="$t('common.edit')")

v-dialog(v-model="deleteLicenseDialog" width="auto")
    v-card(max-width="600")
        v-card-title {{$t('license.delete')}}
        v-card-text {{$t('license.deleteWarning')}}

        template(v-slot:actions)
            Btn(variant="text" @click="toggleDeleteLicenseDialog" :label="$t('common.cancel')")
            v-spacer
            Btn(@click="deleteLicense" variant="elevated" :label="$t('common.delete')" color="red")

v-dialog(v-model="dialog" width="auto")
    v-card(max-width="600")
        v-card-title {{$t('license.successfullyUpdated')}}

        v-card-text
            p {{$t('license.successfullyUpdatedDescription')}}
            p {{ $t('license.name') + ': ' + license.name }}
            p {{ $t('license.code') + ': ' + license.code }}
            p {{ $t('license.maxUsers') + ': ' + license.maxUsers }}
            p {{ $t('license.usageLimit') + ': ' + license.usageLimit }}

        template(v-slot:actions)
            Btn(@click="navigateTo('/admin')" variant="elevated" :label="$t('license.backToLicensesBtn')")
</template>

<script setup lang="ts">
import { useForm } from 'vee-validate'
import { toTypedSchema } from '@vee-validate/zod'
import { z } from 'zod'
import { useT } from '~/composables/useT';
// import { mdiChevronRight } from '@mdi/js'

const route = useRoute()
const { data: session } = useAuthState()

const loading: Ref<boolean> = ref(false)
const dialog: Ref<boolean> = ref(false)
const license: Ref<object | false> = ref({})
const deleteLicenseDialog: Ref<boolean> = ref(false)
const toggleDeleteLicenseDialog = () => deleteLicenseDialog.value = !deleteLicenseDialog.value

console.log(route.params.id)
// Check if we are editing or creating
if (!!route.params.id) {
    // Get license params
    console.log("Getting license")

    const { data: result } = await useFetch('/api/license', {
        method: "get",
        headers: {
            authorization: session.value.token
        },
        query: {
            id: route.params.id
        }
    })
    // Update variables
    if (result.value.id) {
        license.value = result.value
    }

}

// Form schema
const createLicenseSchema = z.object({
    name: z.string(),
    maxUsers: z.coerce.number().gte(license.value.maxUsers, useT("license.editMinUsers")),
    usageLimit: z.coerce.number().gte(license.value.usageLimit, useT("license.editMinUsage"))
})

const form = useForm({
    validationSchema: toTypedSchema(createLicenseSchema),
})

// Configure error messages
const vuetifyConfig = (state) => ({
    props: {
        'error-messages': state.errors,
    },
})

const [name, nameAttrs] = form.defineField('name', vuetifyConfig);
const [maxUsers, maxUsersAttrs] = form.defineField('maxUsers', vuetifyConfig);
const [usageLimit, usageLimitAttrs] = form.defineField('usageLimit', vuetifyConfig);

// Set current values in form
if (license.value.id) {
    name.value = license.value.name
    maxUsers.value = license.value.maxUsers
    usageLimit.value = license.value.usageLimit
}

async function updateLicense() {

    const validation = await form.validate()
    if (!validation.valid) {
        console.log("Form not valid")
        return
    }

    try {
        loading.value = true
        const { data: result } = await useFetch('/api/license', {
            method: "put",
            body: {
                id: license.value.id,
                name,
                maxUsers,
                usageLimit,
            },
            watch: false,
        })

        // Check if API returned the new user
        if (result.value?.id) {
            dialog.value = true
            console.log("Licencia actualizada")
            license.value = result.value
        } else {
            console.log("No ha sido posible actualizar tu licencia.")
        }

    } catch (e) {
        console.log(`Error ${e}`)
    }
    loading.value = false
}

async function deleteLicense() {
    try {
        loading.value = true
        const { data: result } = await useFetch('/api/license/delete', {
            method: "post",
            body: {
                id: license.value.id
            },
            headers: {
                authorization: session.value.token
            },
        })

        // Check if API confirmed the deletion
        if(result.value) {
            navigateTo('/admin')
            console.log("Licencia eliminada")
        } else {
            console.log("No ha sido posible eliminar tu licencia.")
        }

    } catch (e) {
        console.log(`Error ${e}`)
    } finally {
        loading.value = false
    }
}


definePageMeta({
    layout: 'no-paper'
})


</script>

<style lang="scss" scoped>
.v-text-field:first-of-type {
    margin-top: 3rem;
}
.v-input:deep(.v-field) {
    background-color: rgb(var(--v-theme-surface));
}

.v-input:deep(.v-field__overlay) {
    background-color: rgb(var(--v-theme-surface));
}
.v-input:deep(.v-input__details) {
  padding-bottom: 6px;
}

</style>