<template lang='pug'>
v-row(align='center' justify='center')
    v-col.pa-md-3.mt-25(cols='12' md="5" lg="4" xl="3")
        h2 {{ $t('license.create') }}
        v-divider
        


        v-form(ref='createLicenseForm')

            v-text-field(v-model='name' type='name'
                v-bind='nameAttrs'
                :label='$t("license.name")'
            )

            v-text-field(v-model='maxUsers' type='number'
                v-bind='maxUsersAttrs'
                :label='$t("license.maxUsers")'
            )


            v-text-field(v-model='usageLimit' type="number"
                v-bind='usageLimitAttrs'
                :label="$t('license.usageLimit')"
            )

            v-alert(v-if='createLicenseFailed' variant="outlined" type="error" icon="$error" :title="$t('common.error')" :text="$t('license.createError')") 
       
        v-row.my-4
            Btn.full(variant="elevated" @click='createLicense'
            :disabled='loading' :loading='loading'
            color='primary'
            :label="$t('common.create')"
            ) 

        v-row.my-4
            Btn.full(
                variant="outlined"
                to='/admin' 
                @click='submit'
                :loading='loading'
                :label = "$t('license.backToLicensesBtn')"
            )   
                template(v-slot:prepend)
                    v-icon(icon="mdi-arrow-left")

v-dialog(v-model="licenseCreatedDialog" width="auto")
    v-card.pa-8.card-bg(max-width="600")
        v-card-text
            p {{ $t('license.successfullyCreated') }}
            p {{ $t('license.name') + ': ' + license.name }}
            p {{ $t('license.code') + ': ' + license.code }}
            p {{ $t('license.maxUsers') + ': ' + license.maxUsers }}
            p {{ $t('license.usageLimit') + ': ' + license.usageLimit }}

        v-card-actions
            Btn(@click="navigateTo('/admin')" :label="$t('common.ok')")
</template>

<script setup lang="ts">
import { useForm } from 'vee-validate'
import { toTypedSchema } from '@vee-validate/zod'
import { z } from 'zod'
import { useT } from '~/composables/useT';

const createLicenseFailed = ref(false)

// Form schema
const createLicenseSchema = z.object({
    name: z.string(),
    maxUsers: z.coerce.number().gte(1, useT("license.minUsers")),
    usageLimit: z.coerce.number().gte(1, useT("license.minUsage"))
})

const form = useForm({
    validationSchema: toTypedSchema(createLicenseSchema),
})

// Configure error messages
const vuetifyConfig = (state) => ({
    props: {
        'error-messages': state.errors,
    },
})

const [name, nameAttrs] = form.defineField('name', vuetifyConfig);
const [maxUsers, maxUsersAttrs] = form.defineField('maxUsers', vuetifyConfig);
const [usageLimit, usageLimitAttrs] = form.defineField('usageLimit', vuetifyConfig);

const loading: Ref<boolean> = ref(false)
const licenseCreatedDialog: Ref<boolean> = ref(false)
const license: Ref<object | false> = ref({})

async function createLicense() {

    const validation = await form.validate()
    if (!validation.valid) {
        console.log("Form not valid")
        return
    }

    try {
        loading.value = true
        const { data: result } = await useFetch('/api/license', {
            method: "post",
            body: {
                name,
                maxUsers,
                usageLimit,
            },
            watch: false,
        })

        
        // Check if API returned the new user
        if (result.value?.id) {
            console.log("Licencia creada")
            license.value = result.value
            licenseCreatedDialog.value = true
        } else {
            createLicenseFailed.value = true 
            console.log("No ha sido posible crear tu licencia.")
        }

    } catch (e) {
        console.log(`Error ${e}`)
       
    }
    loading.value = false
}

definePageMeta({
    layout: 'no-paper'
})

</script>
<style lang="scss" scoped>

.v-text-field:first-of-type {
    margin-top: 3rem;
}

.v-text-field {
    margin-top: 1rem;
}

.v-input:deep(.v-field) {
    background-color: rgb(var(--v-theme-surface));
}

.v-input:deep(.v-field__overlay) {
    background-color: rgb(var(--v-theme-surface));
}

.v-input:deep(.v-input__details) {
    padding-bottom: 6px;
}

.v-btn {
    width: 40%;
}
.full {
    width: 100%;
}

.card-bg {
    border-radius: .5rem !important;
    background-image: url('/assets/bg-circles-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

</style>
