<template lang="pug">
v-btn(:variant="variant" :color="color" :disabled="disabled" @click="handleClick")
    template(v-slot:prepend)
        slot(name="prepend")
    
    template(v-slot:default)
        span {{ label }}

    template(v-slot:append)
        slot(name="append")
</template>
  
<script setup>
const props = defineProps({
  color: {
    type: String,
    default: 'primary'
  },
  variant: {
    type: String,
    default: "elevated"
  },
  disabled: {
    type: Boolean,
    default: false
  },
  label: {
    type: String,
    default: 'Default label'
  },
  click: {
    type: Function,
    default: () => {}
  },
  icon: {
    type: String,
    default: "mdi-check"
  }
})

// Define variables and function for the component
const handleClick = () => {
  // Define the behavior when the button is clicked
  props.click()
};
</script>

<style scoped>
.v-btn {
  text-transform: none;
  border-radius: 8px;
}
.v-btn--variant-outlined {
  border-width: 2px;
}
</style>
  