<template lang="pug">
Btn(variant="outlined" :label="$t('education.nextStep')")
    template(v-slot:append)
        v-icon(icon="mdi-arrow-right")
</template>

<script setup>
</script>

<style scoped>
.v-btn {
    border-width: 2px;
}
</style>
  