<template lang="pug">
Btn(
    variant="text" 
    :label="$t('education.prevStep')"
    :color="disabled ? theme.current.value.colors['medium-grey'] : 'primary'"
    :disabled="disabled"
)
    template(v-slot:prepend)
        v-icon(icon="mdi-arrow-left")
        
</template>
  
<script setup>
import { useTheme } from 'vuetify';

const theme = useTheme()
const { currentStep } = useStep()
const disabled = currentStep.value == 1
</script>

<style scoped>
</style>
  