<template lang="pug">
Btn(
    :variant="saved ? 'elevated' : 'outlined'" 
    @click="save"
    color="primary"
    :loading="loading"
    :label="saved ? $t('common.saved') : $t('common.save')"
) 
    template(v-slot:prepend)
        v-icon(:icon="saved?'mdi-content-save-check':'mdi-content-save'")
    
</template>

<script setup lang="ts">
    const { save, saved, loading } = useSaveProgram()
</script>

<style scoped>
.v-btn {
    border-width: 2px;
}
</style>