<template lang="pug">
v-menu
    template(v-slot:activator="{ props }")
        v-btn(variant="text" icon="mdi-translate" v-bind="props")

    v-list
        v-list-item(
            v-for="(locale, i) in locales"
            :key="i"
            @click="() => {setLocale(locale.code)}"
            :active="locale.code == currentLocale"
        ) {{ locale.name }}

   
</template>

<script setup>
const { locale: currentLocale, locales, setLocale } = useI18n()
</script>

<style scoped>
</style>