<template lang="pug">
v-checkbox(
    :label="label"
    v-model="model"
)
</template>

<script setup lang="ts">
    const props = defineProps({
        label: {
            type: String,
            default: 'Default checkbox label'
        },
    })
    const model = defineModel()
</script>

<style scoped>

.v-checkbox:deep(.v-selection-control) {
    align-items: flex-start;
    min-height: auto;
}

.v-checkbox:deep(.v-selection-control__wrapper) {
    padding-top: 2px;
    height: 22px;
}

.v-checkbox:deep(.v-selection-control__input) {
    height: 20px;
}

.v-checkbox:deep(.v-label) {
    height: auto;
}
</style>