<template lang='pug'>
v-text-field(v-model='model'
    v-bind='inputAttr'
    :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
    :type="visible ? 'text' : 'password'"     
    @click:append-inner="visible = !visible"
    :label='label')
</template>
<script setup>
    const visible = ref(false);

    const model = defineModel();
    const {click, label, btnText} = defineProps({
        inputAttr: {
            type: Object,
            default: {}
        },
        label: {
            type: String,
            default: "Password"
        }
    })

</script>