<template lang="pug">
p.mb-2 {{ label }}
v-select(
    v-model='model'
    v-bind='inputAttrs' 
    :items='items'
    :disabled='disabled'
)
</template>
  
<script setup>
const {items, inputAttrs, label, disabled} = defineProps({
  items: {
    type: Array,
    default: []
  },
  inputAttrs: {
    type: Object,
    default: {}
  },
  label: {
    type: String,
    default: 'Default label'
  },
  disabled: {
    type: Boolean,
    default: false
  },
})

const model = defineModel()
</script>

<style scoped>
.v-input:deep(.v-field) {
    background-color: rgb(var(--v-theme-surface));
}

.v-input:deep(.v-field__overlay) {
    background-color: rgb(var(--v-theme-surface));
}
.v-input:deep(.v-input__details) {
  padding-bottom: 6px;
}
</style>
  