<template lang='pug'>
Card(borderColor="primary")
    v-row.py-2(align="center")
        v-col
            v-text-field(
                v-model='model' 
                v-bind="inputAttr"
                type="text"
                :label="label"
                @keyup.enter="click"
            )
        v-col(cols="auto")
            v-btn(
                variant="elevated" 
                color='primary'
                @click='click'
            ) {{btnText}}

</template>

<script setup lang="ts">

    const {click: handleClick, label, btnText, inputAttr} = defineProps({
        inputAttr: {
            type: Object,
            default: {}
        },
        label: {
            type: String,
            default: "Default label"
        },
        click: {
            type: Function,
            default: () => {console.log("Default click trigger")}
        },
        btnText: {
            type: String,
            default: "Ok"
        }
    })

    const model = defineModel()

    const click = () => {
        handleClick(model.value)
        model.value = ''
    }

</script>

<style scoped>
.v-card {
    border: 1px solid rgb(var(--v-theme-primary));
    border-left: 4px solid rgb(var(--v-theme-primary));
}

.v-input:deep(.v-field) {
    background-color: rgb(var(--v-theme-surface));
    border: 1px solid rgb(var(--v-theme-light-grey));
    border-radius: 8px;
}

.v-input:deep(.v-field__overlay) {
    background-color: rgb(var(--v-theme-surface));
}

.v-input:deep(.v-field__field) {
    border: 2px solid rgb(var(--v-theme-light-border));
    border-radius: 4px;
}

.v-input:deep(.v-field__outline::before),
.v-input:deep(.v-field__outline::after) {
    border: none;
}

.v-input:deep(.v-label) {
    color: rgb(var(--v-theme-primary));
    font-weight: 500;
    opacity: 1
}
.v-input:deep(.v-input__details) {
    display: none;
}
</style>