<template lang='pug'>
TextFieldWithBtn(
    v-model='content'
    :inputAttr='contentAttr'
    :label="$t('common.add_yours')"
    :btnText="$t('common.ok')"
    :click='() => click(content)'
) 
</template>

<script setup lang="ts">
    import { toTypedSchema } from '@vee-validate/zod'
    import { z } from 'zod'

    const {click} = defineProps({
        click: {
            type: Function,
            default: () => console.log("Default function")
        },
    })

    // Create form and fields
    const uDEBWSchema = toTypedSchema(z.object({
        content: z.string().optional()
    }))

    const form = useForm({
        validationSchema: uDEBWSchema,
    })
    // Configure error messages
    const vuetifyConfig = (state) => ({
        props: {
            'error-messages': state.errors,
        },
    })
    const [content, contentAttr] = form.defineField('content', vuetifyConfig);
</script>

<style scoped>
</style>