<template lang="pug">
Checkbox(
    :label="props.basicWisdom.content" 
    @click="toggle(props.basicWisdom)"
    v-model="isChecked"
)
slot
</template>

<script setup lang="ts">
    const props = defineProps({
        basicWisdom: {
            type: Object,
            default: {}
        },
        selectedEvCrToBW: {
            type: Object,
            default: {}
        }
    })

    const emit = defineEmits(['toggle']);

    const isChecked: Ref<boolean> = ref(false)
    setChecked()
        
    // Create watcher for the last component 
    watch(() => props.selectedEvCrToBW, () => {
        setChecked()
    }, {
        deep: true
    })

    function toggle(basicWisdom: BasicWisdom){
        emit('toggle',basicWisdom)
        isChecked.value = !isChecked.value
    }

    function setChecked() {
        isChecked.value = props.selectedEvCrToBW.basicWisdoms?.findIndex((b: BasicWisdom) => b.id == props.basicWisdom.id) > -1
    }
</script>

<style scoped>
.v-card {
    margin-top: 1rem;
}

:not(.child-container) > .v-card > .basic-wisdom {
    font-weight: 700;
}

.child-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.v-checkbox:deep(.v-input__details) {
    display: none;
}

</style>