<template lang="pug">
CollapsableCard.child-container(v-if="basicWisdomsTree.children.length > 0" :collapsed="collapsed")
    template(v-slot:title)
        p.basic-wisdom {{ basicWisdomsTree.content }}

    template(v-slot:default)
        BasicWisdomsTree(
            v-for="(basicWisdomChildren,index) in sortBwAlphabetically(basicWisdomsTree.children)" 
            :basicWisdomsTree="basicWisdomChildren"
            :selectedEvCrToBW="selectedEvCrToBW"
        )
            //- Pass the slot downwards to child elements
            template(v-slot:default="item")
                slot(v-bind="item")

template(v-else)
    slot(v-bind="{ 'basicWisdom': basicWisdomsTree, selectedEvCrToBW }")

</template>

<script setup lang="ts">
    const { basicWisdomsTree, selectedEvCrToBW, collapsed } = defineProps({
        basicWisdomsTree: {
            type: Object,
            default: {}
        },
        selectedEvCrToBW: {
            type: Object,
            default: {}
        },
        collapsed: {
            type: Boolean,
            default: true
        }
    })
    const { sortBwAlphabetically } = useSort()


</script>

<style scoped>
.child-container {
    /* margin-top: 2rem; */
    /* display: flex;
    flex-direction: column;
    gap: 3rem; */
}
.basic-wisdom {
    font-weight: 500;
}
</style>