<template lang="pug">
v-card.mb-4.pa-2(
    :class="props.selected ? 'selected' : '' "
    :style="props.borderColor != 'none' ? { borderLeftColor: props.borderColor } : {}"
)
    v-card-title.py-2(v-if="slots.title")
        slot(name="title")
    v-card-text.py-0
        slot
</template>

<script setup lang="ts">
    const props = defineProps({
        borderColor: {
            type: String,
            default: 'none'
        },
        selected: {
            type: Boolean,
            default: false
        }
    })
    const slots = useSlots()
</script>

<style scoped>
/* Estilos opcionales */
.v-card{
    box-sizing: border-box;
    border: 1px solid rgb(var(--v-theme-not-selected));
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: rgb(var(--v-theme-not-selected));
    box-shadow: 0 2px 3px rgba(0,0,0,.16);
    transition: all .4s ease-in-out;
}

.v-card-title{
    white-space: wrap;
    font-size: 16px;
    line-height: 22px;
}
.v-card-text{
    display: flex;
    flex-direction: column;
    white-space: wrap;
    font-size: 14px;
}
.v-card.selected {
    border: 1px solid rgb(var(--v-theme-selected));
    border-left: 4px solid rgb(var(--v-theme-selected));
    background-color: rgba(var(--v-theme-selected),0.1);
}
</style>