<template lang="pug">
v-chip(:color="props.color" variant="elevated")
    span {{ props.text }}
    v-icon(:icon="props.icon")
</template>

<script setup>
    const props = defineProps({
        text: {
            type: String,
            default: 'Default text'
        },
        color: {
            type: String,
            default: 'selected'
        },
        icon: {
            type: String,
            default: 'mdi-check'
        }
    })
</script>

<style scoped>
span,
.v-icon {
    color: rgb(var(--v-theme-surface));
}
</style>