<template lang="pug">
Card(:borderColor="props.borderColor" :selected="props.selected")
    template(v-slot:title)
        v-row(@click="toggle" align="center")
            v-col(cols="11")
                slot(name="title")
            v-col.arrow-btn(cols="1")
                v-icon(:class="isOpen ? 'open' : ''") {{ "mdi-chevron-up" }}
    template(v-slot:default)
        v-expand-transition
            div(v-if="isOpen")
                slot

</template>

<script setup lang="ts">
import { ref } from 'vue';

const props = defineProps({
  collapsed: {
    type: Boolean,
    default: true
  },
  selected: {
    type: Boolean,
    default: false
  },
  borderColor: {
    type: String,
    default: '000'
  }
});

const isOpen = ref(!props.collapsed);

const toggle = () => {
    isOpen.value = !isOpen.value;
};

</script>

<style scoped>
.v-row:hover {
    cursor: pointer;
} 
.v-icon {
  font-size: 2rem;
  color: rgb(var(--v-theme-medium-grey-2));
  transform: rotateZ(0deg);
  transition: all .4s ease-in-out;
}

.v-icon.open {
  font-size: 2rem;
  color: rgb(var(--v-theme-medium-grey-2));
  transform: rotateZ(180deg)
}
.v-virtual-scroll__item:last-child .v-card {
        margin-bottom:  0 !important;
}
.arrow-btn {
  align-self: start;
}
</style>