<template lang="pug">
div
    p {{ $t('education.currentStep', { currentStep, totalSteps }) }}
</template>

<script setup>

const { currentStep, totalSteps } = useStep()

</script>

<style scoped>
/* Estilos específicos del componente */
div{
    display: contents;
}

p {
    color: #6A717E;
    line-height: 18px;
    font-size: 12px;
    font-weight: bold;
}
</style>