<template lang="pug">
v-dialog(
    max-width="900"
    v-model="showDialog"
)
    v-card.card-bg
        v-card-title.pl-12.pt-4
            v-row(justify="end")
                v-btn(
                    icon="mdi-close"
                    variant="text"
                    @click="showDialog = false"
                )
        v-card-text.px-12
            v-row
                v-col(cols="2")
                    div
                        img.logo(src="@/assets/education.png", alt="Icono con dialogo que muestra el globo terráqueo con un corazón, el dialogo sale de un libro")   

                v-col(cols="10")
                    p {{ $t('education.step1InitDialog') }}
            v-row
                v-col
                    v-card.h-100.pa-2 {{ $t('education.step1InitDialogQ1') }} 
                v-col
                    v-card.h-100.pa-2 {{ $t('education.step1InitDialogQ2') }} 
                v-col
                    v-card.h-100.pa-2 {{ $t('education.step1InitDialogQ3') }} 
            v-row
                v-col
                    v-card.h-100.pa-2 {{ $t('education.step1InitDialogQ4') }} 
                v-col
                    v-card.h-100.pa-2 {{ $t('education.step1InitDialogQ5') }} 
                v-col
                    v-card.h-100.pa-2 {{ $t('education.step1InitDialogQ6') }} 
                    
</template>

<script setup lang="ts">
    import { useTheme } from 'vuetify';

    const theme = useTheme()
    const {text} = defineProps({
        text: {
            type: String,
            default: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
        },
    })
    const showDialog = defineModel()
</script>

<style scoped>
.card-bg {
    border-radius: .5rem !important;
    background-image: url('/assets/bg-circles-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    max-width: 100%;
}
</style>