<template lang='pug'>

v-text-field(
    v-model="search"
    :label="$t('common.search')"
    prepend-inner-icon="mdi-magnify"
    variant="outlined"
    hide-details="search"
    single-line
)
v-data-table(
    :headers="headers"
    :items="formattedLicenses"  
    :search="search"
)
    template(v-slot:item.actions="{ value: licenseId }")
        Btn.my-2(:label="$t('common.edit')" @click="navigateTo(`/license/${licenseId}`)")
            template(v-slot:append)
                v-icon(icon="mdi-file-edit-outline")

</template>

<script setup lang="ts">
//import licensesGet from '~/server/api/licenses.get';
import { ref } from 'vue'
import { lightTheme } from '~/plugins/vuetify';

const search = ref('');
const { data: session } = useAuthState()
const { data } = await useFetch('/api/licenses', {
    method: "get",
    headers: {
        authorization: session.value.token
    }
})

const headers=[
    {
        title: useT('license.name'),
        key: "name",
    },
    {
        title: useT('license.code'),
        key: "code"
    },
    {
        title: useT('license.numUsers'),
        key: "numUsers",
        align: 'center'
    },
    {
        title: useT('license.usageLimit'),
        key: "usageLimit",
        align: 'center'

    },
    {
        title: useT('common.actions'),
        key: "actions"
    }
]

const licenses = ref(data)

const formattedLicenses = computed(() => {
    return licenses.value.map(license => ({
        'name': license.name,
        'code': license.code,
        'numUsers': license.numUsers + ' / ' + license.maxUsers,
        'usageLimit': license.usageLimit,
        'actions': license.id
    }))
})
</script>

<style lang="scss" scoped>
.v-row {
    border-radius: 10px;
    background-color: #E2E5E6;
    margin-bottom: 3rem;
}

.v-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.span {
    text-align: center;
}

a {
    color:rgb(var(--v-theme-primary));
}
.v-data-table{
    background-color: rgb(var(--v-theme-background));
}

.v-data-table:deep(.v-data-table__tr:nth-child(odd)){
    background-color: rgb(var(--v-theme-surface-bright));
}

.v-data-table:deep(.v-data-table__tr > td:first-child ){
    border-top-left-radius:20px ;
}

.v-input{
    width: 70%;
    margin-bottom: 2rem;
}
</style>
