<template lang="pug">
Btn.custom-text-btn.mt-4(
    variant="text" 
    color="primary"
    :label="$t('common.more_info')"
    @click="(e) => showDialog = true"
) 
    template(v-slot:prepend)
        v-icon.ma-2(icon="mdi-book-open-blank-variant-outline" color="primary")

v-dialog(
    max-width="700"
    v-model="showDialog"
)
    v-card
        v-card-title
            v-btn(
                icon="mdi-close"
                variant="text"
                @click="showDialog = false"
            )
        v-card-text.px-12.pb-16
            v-row
                v-col(cols="2")
                    img.logo(src="@/assets/education-growth.png", alt="Icono con una planta saliendo de un libro")   
                v-col.pl-8(cols="10")
                    p {{ text }}

</template>

<script setup lang="ts">
    const {text} = defineProps({
        text: {
            type: String,
            default: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
        }
    })
    const showDialog: Ref<boolean> = ref(false)
</script>

<style scoped>
.v-card {
    border-radius: .5rem !important;
}
.v-card-title {
    display: flex;
    justify-content: flex-end;
}
.custom-text-btn {
    font-weight: bold;
    transition: all .3s ease-in-out;
    text-shadow: none;
}
.custom-text-btn:hover {
    text-shadow: 0px 0px 10px rgba(var(--v-theme-primary),0.5);
}
.custom-text-btn:hover:deep(.v-btn__overlay) {
    opacity: 0;
}
.custom-text-btn:deep(.v-btn__prepend) {
    font-size: 1.25rem;
    border-radius: 50%;
    background-color: rgba(var(--v-theme-primary),0.1);
}
.custom-text-btn:hover:deep(.v-btn__overlay) {
    opacity: 0;
}

p {
    white-space: pre-line;
}

</style>