<template lang="pug">
v-dialog(
    max-width="700"
    v-model="showDialog"
)
    v-card
        v-card-title.pl-12.pt-4
            h3 {{ $t('education.new_project') }}
            v-btn(
                icon="mdi-close"
                variant="text"
                @click="showDialog = false"
            )
        v-card-text.px-12
            v-row
                v-col(cols="3")
                    v-icon(icon="mdi-alert" :color='theme.global.current.value.colors["medium-blue"]')
                v-col
                    slot

        v-card-actions.px-12.pb-6
            slot(name="actions")
                    
</template>

<script setup lang="ts">
    import { useTheme } from 'vuetify';

    const theme = useTheme()
    const {text} = defineProps({
        text: {
            type: String,
            default: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
        },
    })
    const showDialog = defineModel()
</script>

<style scoped>
.v-card{
    border-radius: .5rem !important;
}
.v-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.v-icon {
    font-size: 7.5rem;
}
</style>