<template lang="pug">
v-icon.mr-2(icon="mdi-archive-outline")
span {{ $t('common.selected') + ': ' + count }}
</template>

<script setup>

const { count } = defineProps({
    count: {
        type: Number,
        default: -1
    }
})

</script>

<style scoped>
</style>