<template lang='pug'>
v-row.mb-6
    v-col
        CurrentStep.mt-2
        h1.mb-4 {{ stepTitle }}
        slot(name="header")

v-row(max-widt)
    slot(name="main")

v-row
    v-col(cols="12")
        slot(name="footer")
        StepFooter(v-if="showFooter" :next="nextStep" :prev="prevStep")

</template>
<script setup lang="ts">
    const {stepTitle,next,prev,showFooter} = defineProps({
        stepTitle: {
            type: String,
            default: 'Default title'
        },
        prev: {
            type: Function,
            default:  ():boolean => {console.log("Default callback for previous step");return true}
        },
        next: {
            type: Function,
            default: ():boolean => {console.log("Default callback for next step");return true}
        },
        showFooter: {
            type: Boolean,
            default: true
        }
    })

    const { currentStep, incrementStep, decrementStep } = useStep()
    const { save } = useSaveProgram()

    // TODO: trigger save with an event emit not by passing a function to a child
    const nextStep = async () => {
        const isValid = await next()
        if(isValid){
            incrementStep()
            await save()
        }
    } 

    const prevStep = () => {
        if(prev()){
            decrementStep()
        }
    } 
</script>

<style scoped>
.v-row:nth-child(2):deep(h3) {
    background-color: rgb(var(--v-theme-dark-grey));
    color:  rgb(var(--v-theme-surface));
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    margin-bottom: 2rem;
}
</style>