<template lang="pug">
v-dialog(
    max-width="700" 
    v-model="showDialog"
)
    v-card
        v-card-title.pl-12.pt-4
            h3 {{ $t('education.notValid') }}
            v-btn(
                icon="mdi-close"
                variant="text"
                @click="showDialog = false"
            )
        v-card-text.px-12.pb-16
            v-row
                v-col(cols="3")
                    v-icon(icon="mdi-close-circle-outline" color='error')
                v-col
                    slot
                    
</template>

<script setup lang="ts">
    import { useTheme } from 'vuetify';

    const theme = useTheme()
    const {text} = defineProps({
        text: {
            type: String,
            default: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
        },
    })
    const showDialog = defineModel()
</script>

<style scoped>
.v-card {
    background-image: url('/assets/bg-circles-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .5rem !important;
}
.v-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.v-icon {
    font-size: 7.5rem;
}

</style>