<template lang='pug'>
Step(
    :stepTitle="$t('education.step1Title')"
    :next="next"
)
    template(v-slot:header)
        p(v-html="$t('education.step1Description')")
    
    template(v-slot:main)
        v-col(cols="6")
            v-form(ref='step1Form')
                Select(
                    :label="$t('education.region')"
                    v-model='region'
                    :inputAttrs='regionAttrs' 
                    :items='regions'
                )
                Select(
                    :label="$t('education.locale')"
                    v-model='locale'
                    :inputAttrs='localeAttrs' 
                    :items='locales'
                    :disabled='!hasLocales'
                )
                Select(
                    :label="$t('education.course')"
                    v-model='courseName'
                    :inputAttrs='courseNameAttrs' 
                    :items='[...new Set(courses.map(c => c.name))]'
                    :disabled='!hasCourses'
                )
                Select(
                    :label="$t('education.academicYear')"
                    v-model='academicYear'
                    :inputAttrs='academicYearAttrs' 
                    :items='academicYears'
                    :disabled='!hasAcademicYears'
                )

InitProgramDialog(v-model="showInitProgramDialog")
</template>
<script setup lang="ts">
    import { useForm } from 'vee-validate'
    import { toTypedSchema } from '@vee-validate/zod'
    import { z } from 'zod'

    // TODO: add validation errors locales: https://github.com/volverjs/zod-vue-i18n/tree/develop
    // Form schema
    const step1Schema = z.object({
        region: z.string(),
        locale: z.string(),
        courseName: z.string(),
        academicYear: z.string()
    })
    
    const form = useForm({
        validationSchema: toTypedSchema(step1Schema),
    })
    
    // Configure error messages
    const vuetifyConfig = (state) => {
        return ({
            props: {
                'error-messages': state.errors,
            },
        })
    }

    const [region, regionAttrs] = form.defineField('region', vuetifyConfig);
    const [locale, localeAttrs] = form.defineField('locale', vuetifyConfig);
    const [courseName, courseNameAttrs] = form.defineField('courseName',vuetifyConfig);
    const [academicYear, academicYearAttrs] = form.defineField('academicYear', vuetifyConfig);
    
    const loading: Ref<boolean> = ref(false)
    const hasLocales: Ref<boolean> = ref(false)
    const hasCourses: Ref<boolean> = ref(false)
    const hasAcademicYears: Ref<boolean> = ref(false)

    const programStore = useProgramStore()
    const { id, course } = storeToRefs(programStore)

    const showInitProgramDialog: Ref<boolean> = ref(false)
    if(id.value == -1){
        showInitProgramDialog.value = true
    }
    
    const { regions } = await useRegions()
    const locales: Ref<Array<boolean>> = ref([])
    const courses: Ref<Array<boolean>> = ref([])
    const academicYears: Ref<Array<string>> = ref([])
    const selectedCourseId: Ref<number> = ref(-1)

    const getCourses = async (locale: string) => {
        const { courses: availableCourses } = await useCourses(region.value,locale)
        courses.value = availableCourses.value
    }
    
    const generateAcademicYearsArr = (courseNameSelected: string) => {
        const academicYearsArr: Array<string> = []
        courses.value.forEach(c => {
            if(c.name == courseNameSelected){
                academicYearsArr.push(c.academicYear.name)
            }
        })
        academicYears.value = academicYearsArr
        console.log("Academic years arr generated", academicYear.value, academicYearsArr)
    }

    watch(region, async (regionSelected) => {
        if(regionSelected !== undefined){
            const { locales: availableLocales } = await useLocales(regionSelected)
            locales.value = availableLocales.value
            hasLocales.value = true
            if(selectedCourseId.value == -1){
                hasCourses.value = false
                hasAcademicYears.value = false
            }
        }
    })

    watch(locale, async (localeSelected) => {
        if(localeSelected !== undefined){
            await getCourses(localeSelected)
            hasCourses.value = true
            if(selectedCourseId.value == -1){
                hasAcademicYears.value = false
            }
        }
    })
    
    watch(courseName, (courseNameSelected) => {
        generateAcademicYearsArr(courseNameSelected)
        hasAcademicYears.value = true
    })

    watch(academicYear, (academicYearSelected) => {
        if(courses.value.length > 0){
            // Selected course from form
            const selectedCourse = courses.value.find(c => c.academicYear.name === academicYear.value && c.name === courseName.value)
            selectedCourseId.value = selectedCourse.id
        }
    })

    // Load previous work
    if(course.value.id !== -1) {
        // Load in form fields variables, this triggers the watchers
        region.value = course.value.region
        locale.value = course.value.locale
        hasLocales.value = true
        courseName.value = course.value.name
        await getCourses(locale.value)
        hasCourses.value = true
        academicYear.value = course.value.academicYear
        hasAcademicYears.value = true
        generateAcademicYearsArr(courseName.value)
        // Store course.id in selectedCourseId
        selectedCourseId.value = course.value.id
    }
    
    async function next(): Promise<boolean> {
        const validation = await form.validate()
        if (!validation.valid) {
            return false
        }

        const selectedCourse: Course = {
            id: selectedCourseId.value,
            name: courseName.value,
            academicYear: academicYear.value,
            region: region.value,
            locale: locale.value 
        }
        programStore.resetProgram()
        programStore.setCourse(selectedCourse) 

        return true
    }

</script>

<style scoped>
</style>