<template lang='pug'>
Step(
    :stepTitle="$t('education.step7Title')"
    :next="next"
)
    template(v-slot:header)
        p(v-html="$t('education.step7Description')")
        MoreInfoDialog(:text="$t('education.step7MoreInfo')")
    
    template(v-slot:main)
        v-col(cols="5")
            h3 {{ $t('education.learningUnits') }}
            Card( 
                v-if="learningUnits != undefined" 
                v-for="learningUnit in learningUnits"
                @click ="() => selectedLU = learningUnit"
                :selected="selectedLU.name == learningUnit.name"
            )
                v-row.py-6
                    span.learning-unit-index {{ `${learningUnit.order}. &nbsp` }}
                    h4 {{ learningUnit.name }}

        v-col(cols="7")
            h3 {{ $t('education.evaluationCriteria') }}
            v-virtual-scroll(
                v-if="ecosocialLearnings != undefined && specificSkills != undefined" 
                :items="[...ecosocialLearnings, ...specificSkills]"
                height="80vh" 
            )
                template(v-slot:default="{ item: sSOrEL, index }")
                    //- Print ecosocial learnings
                    CollapsableCard.pb-4(
                        v-if="sSOrEL.eEvCrToEBWMatrix != undefined"
                        :collapsed="index == 0 ? false : true" 
                    )
                        template(v-slot:title) 
                            p {{ sSOrEL.content }}

                        template(
                            v-slot:default
                        )
                            template(v-for="(isSelected,i) in sSOrEL.selectedEEvCrs")
                                v-row(v-if="isSelected")
                                    v-col.px-0.pb-6.pt-0
                                        Checkbox.mt-4(
                                            :label="sSOrEL.eEvCrs[i].content"
                                            v-model="checkboxesState[selectedLU.name][`eL-${sSOrEL.id}`][sSOrEL.eEvCrs[i].id]"
                                            @click="(e) => { e.preventDefault(); toggleEEvCrAllocation(sSOrEL.eEvCrs[i].id, sSOrEL.id) }"
                                        )
                                        v-row.pl-12.ga-1(
                                            v-if="chipsState[`eEvCr-${sSOrEL.eEvCrs[i].id}`] != undefined" 
                                        )
                                            template(v-for="(learningUnit,lUIndex) in learningUnits")
                                                Chip(
                                                    v-if="chipsState[`eEvCr-${sSOrEL.eEvCrs[i].id}`][lUIndex]"
                                                    :text="`${learningUnit.order}`"
                                                )

                    //- Print specific skills
                    CollapsableCard.pb-4(
                        v-if="sSOrEL.evCrToBWMatrix != undefined"
                        :collapsed="index == 0 ? false : true" 
                    )
                        template(v-slot:title)
                            p {{ sSOrEL.content }}
                            
                        template(v-slot:default)
                            v-row(v-for="evCr in sSOrEL.evCrs")
                                v-col.px-0.pb-6.pt-0
                                    Checkbox.mt-4(
                                        :label="evCr.content"
                                        v-model="checkboxesState[selectedLU.name][`sS-${sSOrEL.id}`][evCr.id]"
                                        @click="(e) => { e.preventDefault(); toggleEvCrAllocation(evCr.id, sSOrEL.id) }"
                                    )
                                    v-row.pl-12.ga-1(
                                        v-if="chipsState[`evCr-${evCr.id}`] != undefined" 
                                    )
                                        template(v-for="(learningUnit,lUIndex) in learningUnits")
                                            Chip(
                                                v-if="chipsState[`evCr-${evCr.id}`][lUIndex]"
                                                :text="`${learningUnit.order}`"
                                            )
            


ValidationFailedDialog(
    v-model="showValidationFailedDialog"
)  
    p {{ $t(`education.${validationErrorTextKey}`) }}   
</template>
<script setup lang="ts">

    const showValidationFailedDialog: Ref<boolean> = ref(false)
    const validationErrorTextKey: Ref<string> = ref('step7ValidationError1')

    const programStore = useProgramStore()
    const { specificSkills, ecosocialLearnings, learningUnits } = storeToRefs(programStore)

    // Select first learning unit
    const selectedLU: Ref<LearningUnit> = ref(learningUnits.value[0])

    const checkboxesState: Ref<object> = ref(generateCheckboxesState())
    const chipsState: Ref<object> = ref(generateChipsState())

    function generateCheckboxesState(): object { 
        let checkboxesState = {}

        learningUnits.value.forEach((lU, lUIndex) => {
            if(checkboxesState[lU.name] == undefined) {
                checkboxesState[lU.name] = {}
            }
            // For all the ecosocial learnings
            ecosocialLearnings.value.forEach((eL,eLIndex) => {
                const eLKey = `eL-${eL.id}`
                if(checkboxesState[lU.name][eLKey] == undefined){
                    checkboxesState[lU.name][eLKey] = {}
                }
                // Get the array of indexes of the total selection of eEvCrs in this eL
                const selectedEEvCrsIndexes: Array<number> = []
                eL.selectedEEvCrs.forEach((isSelected,i) => isSelected ? selectedEEvCrsIndexes.push(i) : false)
                selectedEEvCrsIndexes.forEach(index => {
                    // Check if its assigned to this lU
                    const isChecked = learningUnits.value[lUIndex].partialEEvCrs.findIndex(indexes => indexes.eEvCrIndex == index && indexes.eLIndex == eLIndex) != -1
                    checkboxesState[lU.name][eLKey][eL.eEvCrs[index].id] = isChecked
                })
            })
            specificSkills.value.forEach((sS,sSIndex) => {
                const sSKey = `sS-${sS.id}`
                if(checkboxesState[lU.name][sSKey] == undefined){
                    checkboxesState[lU.name][sSKey] = {}
                }
                sS.evCrs.forEach((evCr,evCrIndex) => {
                    if(checkboxesState[lU.name][sSKey][evCr.id] == undefined){
                        const isChecked = learningUnits.value[lUIndex].partialEvCrs.findIndex(indexes => indexes.evCrIndex == evCrIndex  && indexes.sSIndex == sSIndex) != -1
                        checkboxesState[lU.name][sSKey][evCr.id] = isChecked
                    } 
                })
            })
        })
        
        return checkboxesState
    }

    function generateChipsState(): object { 
        let chipsState = {}
        
        // For all the ecosocial learnings
        ecosocialLearnings.value.forEach((eL,eLIndex) => {
            // Get the array of indexes of the total selection of eEvCrs in this eL
            const selectedEEvCrsIndexes: Array<number> = []
            eL.selectedEEvCrs.forEach((isSelected,i) => isSelected ? selectedEEvCrsIndexes.push(i) : false)
            selectedEEvCrsIndexes.forEach(index => {
                const eEvCrKey = `eEvCr-${eL.eEvCrs[index].id}`
                chipsState[eEvCrKey] = []
                learningUnits.value.forEach(lU => {
                    // Check if its allocated to this lU
                    const isAllocated = lU.partialEEvCrs.findIndex(indexes => indexes.eEvCrIndex == index && indexes.eLIndex == eLIndex) != -1
                    chipsState[eEvCrKey].push(isAllocated)
                })
            })
        })
        specificSkills.value.forEach((sS,sSIndex) => {
            sS.evCrs.forEach((evCr,evCrIndex) => {
                const evCrKey = `evCr-${evCr.id}`
                chipsState[evCrKey] = []
                learningUnits.value.forEach(lU => {
                    // Check if its allocated to this lU
                    const isAllocated = lU.partialEvCrs.findIndex(indexes => indexes.evCrIndex == evCrIndex && indexes.sSIndex == sSIndex) != -1
                    chipsState[evCrKey].push(isAllocated)
                })
            })
        })
        
        return chipsState
    }

    function toggleEvCrAllocation(evCrId: string, sSId: string) {
        // This is the value of the checkbox before the toggle event
        const wasChecked = checkboxesState.value[selectedLU.value.name][`sS-${sSId}`][evCrId]

        if(wasChecked){
            // Deallocate
            programStore.deallocateEvCr(selectedLU.value.name,sSId,evCrId)
        } else {
            // Allocate
            programStore.allocateEvCr(selectedLU.value.name,sSId,evCrId)
        }

        // Update chips state
        chipsState.value[`evCr-${evCrId}`][learningUnits.value.findIndex(lU => lU.name == selectedLU.value.name)] = !wasChecked

        // Update checkbox
        checkboxesState.value[selectedLU.value.name][`sS-${sSId}`][evCrId] = !wasChecked
    }

    function toggleEEvCrAllocation(eEvCrId: string, eLId: string) {
       // This is the value of the checkbox before the toggle event
       const wasChecked = checkboxesState.value[selectedLU.value.name][`eL-${eLId}`][eEvCrId]

        if(wasChecked){
            // Deallocate
            programStore.deallocateEEvCr(selectedLU.value.name,eLId,eEvCrId)
        } else {
            // Allocate
            programStore.allocateEEvCr(selectedLU.value.name,eLId,eEvCrId)
        }

        // Update chips state
        chipsState.value[`eEvCr-${eEvCrId}`][learningUnits.value.findIndex(lU => lU.name == selectedLU.value.name)] = !wasChecked

        // Update checkbox
        checkboxesState.value[selectedLU.value.name][`eL-${eLId}`][eEvCrId] = !wasChecked
    }

    function next(): boolean {
        // At least one evCr oeEvcr has to be assigned to each lU
        let numOfUnassignedLUs: Array<number> = []
        learningUnits.value.forEach(lU => {
            numOfUnassignedLUs.push(lU.partialEvCrs.length + lU.partialEEvCrs.length)
        })
        if(numOfUnassignedLUs.includes(0)){
            validationErrorTextKey.value = 'step7ValidationError1'
            showValidationFailedDialog.value = true
            return false
        } 
        // All evCrs and eEvCrs has be assigned at least to one lU
        let mergedEvCrIds: Array<string> = []
        // Add them to the array
        specificSkills.value.forEach(sS => {
            const evCrIds: Array<string> = []
            sS.evCrs.forEach(e => evCrIds.push(e.id))
            mergedEvCrIds = mergedEvCrIds.concat(evCrIds)
        })
        ecosocialLearnings.value.forEach(eL => {
            const eEvCrIds: Array<string> = []
            eL.eEvCrs.forEach((e,i) => eL.selectedEEvCrs[i] ? eEvCrIds.push(e.id) : null)
            mergedEvCrIds = mergedEvCrIds.concat(eEvCrIds)
        })
        // Remove when found
        learningUnits.value.forEach(lU => {
            lU.partialEvCrs.forEach(p => {
                let evCrIndex = mergedEvCrIds.findIndex(id => id == specificSkills.value[p.sSIndex].evCrs[p.evCrIndex].id)
                if(evCrIndex > -1) {
                    mergedEvCrIds.splice(evCrIndex,1)
                }
            })
            lU.partialEEvCrs.forEach(p => {
                let eEvCrIndex = mergedEvCrIds.findIndex(id => id == ecosocialLearnings.value[p.eLIndex].eEvCrs[p.eEvCrIndex].id)
                if(eEvCrIndex > -1) {
                    mergedEvCrIds.splice(eEvCrIndex,1)
                }
            })
        })
        if(mergedEvCrIds.length > 0){
            validationErrorTextKey.value = 'step7ValidationError2'
            showValidationFailedDialog.value = true
            return false
        } 
        return true
    }
</script>
<style scoped>
.learning-unit-index {
    font-weight: 600;
}
</style>