<template lang='pug'>
Step(
    :stepTitle="$t('education.step3Title')"
    :next="next"
)
    template(v-slot:header)
        p(v-html="$t('education.step3Description')")
        MoreInfoDialog(:text="$t('education.step3MoreInfo')")
    
    template(v-slot:main)
        v-col(cols="10")
            v-row(justify="end")
                v-col.py-0(cols="auto")
                    NumOfSelectedItems(:count="selectedEcosocialLearnings.length")
            v-row
                v-col
                    CollapsableCard(
                        v-if="ecosocialLearningGroups != undefined"
                        v-for="(ecosocialLearningGroup, index) in ecosocialLearningGroups"
                        :collapsed="index == 0 ? false : true" 
                        :borderColor="ecosocialLearningGroupToColor(ecosocialLearningGroup)"
                    )
                        template(v-slot:title) 
                            h4 {{ $t(`education.${ecosocialLearningGroupToLocaleIndex(ecosocialLearningGroup)}`) }}
                        template(v-slot:default)
                            Checkbox(
                                v-if="ecosocialLearnings != undefined" 
                                v-for="ecosocialLearning in sortELAlphabetically(ecosocialLearnings.filter(e => e.group == ecosocialLearningGroup))"
                                :label="ecosocialLearning.content" 
                                @click="toggleEcosocialLearning(ecosocialLearning, !!checkboxesState[ecosocialLearning.id])" 
                                :model-value="checkboxesState[ecosocialLearning.id]"
                            )
ValidationFailedDialog(
    v-model="showValidationFailedDialog"
)  
    p {{ $t('education.step3ValidationError') }}

</template>
<script setup lang="ts">
    import { ecosocialLearningGroupToLocaleIndex } from '~/utils/locales'
    import { ecosocialLearningGroupToColor } from '#imports';
    import type { EcosocialLearning as PrismaEcosocialLearning } from "@prisma/client";
import { convertToXmlComponent } from 'docx';

    const { ecosocialLearningGroups } = useEcosocialLearningGroups()
    const { sortELAlphabetically } = useSort()
    const showValidationFailedDialog: Ref<boolean> = ref(false)

    const programStore = useProgramStore()
    const { course, ecosocialLearnings: selectedEcosocialLearnings } = storeToRefs(programStore)
    const academicCycle: string = academicYearToAcademicCycle(course.value.academicYear)
    const { ecosocialLearnings } = await useEcosocialLearnings({
        locale: course.value.locale,
        academicYear: course.value.academicYear
    })
    const checkboxesState: Ref<object> = ref(setCheckboxesState())

    function setCheckboxesState(): object {
        let checkboxesState = {}
        ecosocialLearnings.value.forEach(eL => {
            checkboxesState[eL.id] = selectedEcosocialLearnings.value.findIndex(e => e.id == eL.id) != -1            
        })
        return checkboxesState
    }

    function toggleEcosocialLearning(ecosocialLearning: PrismaEcosocialLearning, wasChecked: boolean) {
        // Update checkbox state
        checkboxesState.value[ecosocialLearning.id] = !wasChecked

        // If its already selected, delete it
        if(wasChecked) {
            programStore.deleteEcosocialLearning(ecosocialLearning)
        // Otherwise, add it
        } else {
            programStore.createEcosocialLearning(ecosocialLearning)
        }
    }

    function next():boolean {
        if(selectedEcosocialLearnings.value.length == 0){
            showValidationFailedDialog.value = true
            return false
        } 
        return true
    }
</script>
<style scoped>
.v-checkbox:deep(.v-selection-control__input) {
    padding-top: 3px;
}
</style>