<template lang='pug'>
Step(
    :stepTitle="$t('education.step4Title')"
    :next="next"
)
    template(v-slot:header)
        p(v-html="$t('education.step4Description')")
        MoreInfoDialog(:text="$t('education.step4MoreInfo')")
    
    template(v-slot:main)
        v-col(cols="10")
            CollapsableCard(
                v-if="ecosocialLearnings != undefined"
                v-for="(ecosocialLearning, index) in sortELAlphabetically(ecosocialLearnings)"
                :collapsed="index == 0 ? false : true" 
                :borderColor="ecosocialLearningGroupToColor(ecosocialLearning.group)"
            )
                template(v-slot:title) 
                    h3.ecosocial-learning-group-heading.mb-2.pa-0(
                        :style="{color: ecosocialLearningGroupToColor(ecosocialLearning.group)}"
                    ) {{ $t(`education.${ecosocialLearningGroupToLocaleIndex(ecosocialLearning.group)}`) }}
                    p {{ ecosocialLearning.content }}
                template(v-slot:default) 
                    Checkbox.mt-4(
                        v-for="eEvCr in sortEEvCrAlphabetically(ecosocialLearning.eEvCrs)"
                        :label="eEvCr.content" 
                        @click="toggleEEvCr(eEvCr, ecosocialLearning.id)" 
                        v-model="checkboxesState[ecosocialLearning.id][eEvCr.id]"
                    )

ValidationFailedDialog(
    v-model="showValidationFailedDialog"
)  
    p {{ $t('education.step4ValidationError') }}
</template>
<script setup lang="ts">
    import { ecosocialLearningGroupToColor } from '#imports';
    import { ecosocialLearningGroupToLocaleIndex } from '~/utils/locales'

    const { sortELAlphabetically, sortEEvCrAlphabetically } = useSort()
    const showValidationFailedDialog: Ref<boolean> = ref(false)

    const programStore = useProgramStore()
    const { ecosocialLearnings } = storeToRefs(programStore)

    const checkboxesState: Ref<Object> = ref(setCheckboxesState())

    function setCheckboxesState(): object {
        let checkboxesState = {}
        ecosocialLearnings.value.forEach((eL, eLIndex) => {
            if(checkboxesState[eL.id] == undefined) {
                checkboxesState[eL.id] = {}
            }
            eL.eEvCrs.forEach((eEvcr, eEvCrIndex) => {
                if(checkboxesState[eL.id][eEvcr.id] == undefined){
                    const isChecked = eL.selectedEEvCrs[eEvCrIndex]
                    checkboxesState[eL.id][eEvcr.id] = isChecked
                }
            })
        })
        return checkboxesState
    }

    function toggleEEvCr(eEvCr: EcosocialEvaluationCriteria, eLId: string) {
        const wasChecked = checkboxesState.value[eLId][eEvCr.id]
        // Toggle selection
        if(wasChecked){
            programStore.removeEEvCr(eLId,eEvCr.id)
        } else {
            programStore.addEEvCr(eLId,eEvCr.id)
        }
    }

    function next(): boolean {
        let numOfSelectedEEvCr = 0
        ecosocialLearnings.value.forEach(eL => {
            numOfSelectedEEvCr = eL.selectedEEvCrs.includes(true) ? numOfSelectedEEvCr + 1 : numOfSelectedEEvCr
        })
        if( numOfSelectedEEvCr == 0){
            showValidationFailedDialog.value = true
            return false
        } 
        return true
    }

</script>
<style scoped>
.ecosocial-learning-group-heading {
    background-color: transparent !important;
    text-transform: uppercase !important;
    font-weight: 400 !important;
    text-shadow: 0 0 0 rgba(0,0,0,.2);
}
</style>