<template lang='pug'>
Step(
    :stepTitle="$t('education.step10Title')"
    :showFooter="false"
)
    template(v-slot:header)
        p(v-html="$t('education.step10Description')")
    
    template(v-slot:main)
        v-col(cols="1")
        v-col(cols="12")
            v-row
                v-col
                    v-card.card-bg
                        v-title 
                            v-btn.square-icon.mb-3.pa-0(variant="elevated" elevation="0" color="violet" disabled)
                                v-icon(icon="mdi-school")
                        v-text 
                            h3.mb-2.pa-0 {{ $t('education.download_program_title') }}
                            p.mb-6 {{ $t('education.download_program_paragraph') }}
                            v-btn(variant="elevated" @click="generateProgramDoc" color='primary') 
                                v-icon(icon="mdi-download" start)
                                span {{$t('common.download')}}

            v-row
                v-col(cols="3")
                    v-card.extra-resource
                        v-title 
                            v-btn.square-icon.mb-3.pa-0(variant="elevated" elevation="0" :color="theme.global.current.value.colors.pink" disabled)
                                v-icon(icon="mdi-pen" color="white")
                        v-text 
                            h4.mb-2 {{ $t('education.learningUnitsDesign') }}
                            p.mb-6 {{ $t('education.learningUnitsDesignDescription') }}
                            v-btn(variant="outlined" @click="downloadDocument('/diseno_SA.pdf','diseño_de_SA.pdf')" color='primary') 
                                v-icon(icon="mdi-download" start)
                                span {{$t('education.downloadLUDesign')}}
                            v-btn.mt-2(variant="outlined" @click="downloadDocument('/competencia_ecosocial.pdf','competencia_ecosocial.pdf')" color='primary') 
                                v-icon(icon="mdi-download" start)
                                span {{$t('education.downloadSS')}}

                v-col(cols="3")
                    v-card.extra-resource
                        v-title 
                            v-btn.square-icon.mb-3.pa-0(variant="elevated" elevation="0" :color="theme.global.current.value.colors.orange" disabled)
                                v-icon(icon="mdi-account" color="white")
                        v-text 
                            h4.mb-2 {{ $t('education.evaluationBySkills') }}
                            p.mb-6 {{ $t('education.evaluationBySkillsDescription') }}
                            p {{$t('common.availableInDec2024')}}
                            v-btn(variant="outlined" @click='' disabled) 
                                v-icon(icon="mdi-download" start)
                                span {{$t('common.download')}}
                            

                v-col(cols="3")
                    v-card.extra-resource
                        v-title 
                            v-btn.square-icon.mb-3.pa-0(variant="elevated" elevation="0" :color="theme.global.current.value.colors.red" disabled)
                                v-icon(icon="mdi-leaf")
                        v-text 
                            h4.mb-2 {{ $t('education.learningUnitsTemplate') }}
                            p.mb-6 {{ $t('education.learningUnitsTemplateDescription') }}
                            v-btn(variant="outlined" @click="downloadDocument('/plantilla_SA.odt','plantilla_de_elaboracion_de_SA.odt')" color='primary') 
                                v-icon(icon="mdi-download" start)
                                span {{$t('common.download') + ' .odt'}}
                            v-btn.mt-2(variant="outlined" @click="downloadDocument('/plantilla_SA.pdf','plantilla_de_elaboracion_de_SA.pdf')" color='primary') 
                                v-icon(icon="mdi-download" start)
                                span {{$t('common.download') + ' .pdf'}}

                v-col(cols="3")
                    v-card.extra-resource
                        v-title 
                            v-btn.square-icon.mb-3.pa-0(variant="elevated" elevation="0" :color="theme.global.current.value.colors.teal" disabled)
                                v-icon(icon="mdi-pac-man")
                        v-text 
                            h4.mb-2 {{ $t('education.learningUnitExamples') }}
                            p.mb-6 {{ $t('education.learningUnitExamplesDescription') }}
                            v-btn(variant="outlined" href="https://tiempodeactuar.es/blog/category/situacion-de-aprendizaje/" target="_blank" color='primary') 
                                v-icon(icon="mdi-open-in-new" start)
                                span {{$t('common.goToPage')}}

            v-row.mt-10
                v-col
                    span(v-html="$t('education.last_step_warning')")

                v-col(cols="auto" align="right" justify="center")
                    v-btn.large(variant="elevated" @click='showNewProgramDialog = true' color='primary' size="large") 
                        v-icon(icon="mdi-school" start)
                        span {{$t('education.new_project')}}

NewProgramDialog(v-model="showNewProgramDialog")
    template(v-slot:default)
        p {{  $t('license.newProjectAlert') }}
    template(v-slot:actions)
        v-spacer
        v-btn(color='error' variant="elevated" @click="showNewProgramDialog = false") {{ $t('common.cancel') }}
        v-btn.ml-6(color='primary' variant="elevated" @click="completeProgram") {{ $t('common.confirm') }}
</template>
<script setup lang="ts">
    import { useTheme } from 'vuetify';

    const showNewProgramDialog: Ref<boolean> = ref(false)

    const theme = useTheme()
    const programStore = useProgramStore()
    const { id: programId, course, specificSkills, basicWisdoms, ecosocialLearnings, learningUnits } = storeToRefs(programStore)

    const program = {
        title: generateDocTitle(),
        learningUnits: generateDocLUs(),
        texts: translateDocTexts()
    }

    function generateDocTitle(): string {
        return useT('education.programTitle',{ 
            courseName: course.value.name,
            academicYear: course.value.academicYear
        })
    }

    function generateDocLUs(): Array<DocLearningUnit> {
        const preparedLUs: Array<DocLearningUnit> = []
        
        learningUnits.value.forEach(lU => {
            // Merge all bWs, eBWs, uDBWs & uDEBWs
            const mergedBWs: Array<DocBasicWisdom | DocEcosocialBasicWisdom> = []

            // Add the bWs of this lU
            lU.partialBWs.forEach((p,i) => {
                if(p.keep){
                    mergedBWs.push({content: basicWisdoms.value[p.bWIndex].content})
                }
            })
            // Add the uDBWs of this lU (the ones defined in step 8)
            lU.uDBWs.forEach((b,i) => {
                if(lU.filterUDBWs[i]){
                    mergedBWs.push({content: b.content})
                }
            })
            
            const sSs: Array<DocSpecificSkill> = []
            // Get each sS, its evCrs and bWs
            specificSkills.value.forEach((sS,sSIndex) => {
                const evCrs: Array<DocEvaluationCriteria> = []
                sS.evCrs.forEach((evCr,evCrIndex) => {
                    const pIndex = lU.partialEvCrs.findIndex(indexes => indexes.evCrIndex == evCrIndex && indexes.sSIndex == sSIndex)
                    if(pIndex > -1){
                        evCrs.push({content: evCr.content}) 
                    }
                })
                if(evCrs.length > 0){
                    sSs.push({
                        content: sS.content,
                        evCrs
                    })
                }
            })

            const eLs: Array<DocEcosocialLearning> = []
            // Get each eL, its eEvCrs and eBWs
            ecosocialLearnings.value.forEach((eL,eLIndex) => {
                const eEvCrs: Array<DocEcosocialEvaluationCriteria> = []
                eL.eEvCrs.forEach((eEvCr,eEvCrIndex) => {
                    const pIndex = lU.partialEEvCrs.findIndex(indexes => indexes.eEvCrIndex == eEvCrIndex && indexes.eLIndex == eLIndex)
                    if(pIndex > -1){
                        const eBWsFilter = [...eL.eEvCrToEBWMatrix[eEvCrIndex]]
                        const uDEBWsFilter = [...eL.eEvCrToUDEBWMatrix[eEvCrIndex]]
                        const eBWs: Array<EcosocialBasicWisdom> = [
                            ...eL.eBWs.filter((b,i) => eBWsFilter[i]),
                            ...eL.uDEBWs.filter((b,i) => uDEBWsFilter[i])
                        ]
                        // Merge with the rest of bWs
                        eBWs.forEach(eBW => {
                            if(mergedBWs.findIndex(bW => bW.content == eBW.content) == -1){
                                mergedBWs.push({content:eBW.content})
                            }
                        })
                        eEvCrs.push({content: eEvCr.content}) 
                    }
                })
                if(eEvCrs.length > 0){
                    eLs.push({
                        content: eL.content,
                        eEvCrs
                    })
                }
            })

            if(sSs.length > 0 || eLs.length > 0){
                preparedLUs.push({
                    name: lU.name,
                    sSs,
                    eLs,
                    bWs: mergedBWs
                })
            }
        })

        return preparedLUs
    }

    function translateDocTexts(): object {
        return {
            learningUnit: useT('education.learningUnit'),
            learningUnits: useT('education.learningUnits'),
            specificSkills: useT('education.specificSkills'),
            evaluationCriterias: useT('education.evaluationCriteria'),
            basicWisdoms: useT('education.basicWisdoms'),
            ecosocialLearnings: useT('education.ecosocialLearnings'),
            sSOrEls: useT('education.sSOrEls'),
            totalOfEvCrAppearences: useT('education.totalOfEvCrAppearences'),
            totals: useT('common.totals'),
        }
    }

    async function generateProgramDoc(){
        const { data: session } = useAuthState()

        const { data: programDoc } = await useFetch('/api/education/generate-program', {
            method: "post",
            headers: {
                authorization: session.value.token
            },
            body: {
                program
            }
        })

        const downloadURL: string = window.URL.createObjectURL(programDoc.value)
        const link = document.createElement('a');
        link.href = downloadURL;
        link.download = `program_${Date.now()}.docx`;
        link.dispatchEvent(new MouseEvent('click'));
    }

    async function completeProgram() {
        const completedProgram = await useCompleteProgram(programId.value)
        if(completedProgram){
            navigateTo('/info')
        } else {
            console.log("Can't complete program")
        }
    }

    function downloadDocument(path: string, name: string = 'download') {
      const link = document.createElement('a')
      link.href = path
      link.download = name
      link.target = '_blank'
      link.click()
    }

</script>
<style scoped>
.v-card {
    padding: 1rem;
}
.square-icon.v-btn {
    min-width: 36px ;
}
.square-icon.v-btn:deep(.v-btn__overlay) {
    opacity: 0;
}
.square-icon.v-btn  .v-icon{
    font-size: 1.4rem;
}
.card-bg {
    background-image: url('/assets/bg-circles-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h3 {
    background-color: transparent !important;
    color: rgb(var(--v-theme-text)) !important;
}
.extra-resource {
    font-size: 14px;
    height: 100%;
    display: flex;
    flex-direction: column
}
.extra-resource:deep(v-text) {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.extra-resource:deep(v-text .v-btn) {
    margin-top: auto
}
.v-btn.large {
    font-weight: 600;
    letter-spacing: .01rem;
}
</style>