<template lang='pug'>
Step(:stepTitle="$t('education.step9Title')")
    template(v-slot:header)
        p(v-html="$t('education.step9Description')")
    
    template(v-slot:main)
        v-col(cols="10")
            draggable( v-if="learningUnits.length > 0" v-model="learningUnits" :move="updateOrder")
                template( v-slot:item="{ element: learningUnit, index }")
                    v-row(align="center")
                        v-col(cols="1")
                            p.text-center {{ (index + 1) + '.' }}
                        v-col(cols="6")
                            Card.pa-4.no-mb
                                template(v-slot:title)
                                    h4 {{ learningUnit.name }}        
    
</template>
<script setup lang="ts">
    import draggable from "vuedraggable"

    const programStore = useProgramStore()
    const { learningUnits } = storeToRefs(programStore)

    const updateOrder = (event: Event) => programStore.changeLUOrder(event.draggedContext.index,event.draggedContext.futureIndex)
</script>
<style scoped>
.no-mb {
    margin-bottom: 0 !important;
}
p.text-center {
    font-weight: 600;
}
</style>