<template lang='pug'>
Step(
    :stepTitle="$t('education.step5Title')"
    :next="next"
)
    template(v-slot:header)
        p(v-html="$t('education.step5Description')")
        MoreInfoDialog(:text="$t('education.step5MoreInfo')")
    
    template(v-slot:main)
        v-col(cols="10")
            template(
                v-if="ecosocialLearnings != undefined"
                v-for="(ecosocialLearning, eLIndex) in ecosocialLearnings"
            )
                template(v-for="(isSelected, eEvCrIndex) in ecosocialLearning.selectedEEvCrs")
                    CollapsableCard(
                        v-if="isSelected" 
                        :collapsed="eLIndex == 0 && eEvCrIndex == 0 ? false : true" 
                        :borderColor="ecosocialLearningGroupToColor(ecosocialLearning.group)"
                    )
                        template(v-slot:title) 
                            h3.ecosocial-learning-group-heading.mb-2.pa-0(
                                :style="{color: ecosocialLearningGroupToColor(ecosocialLearning.group)}"
                            ) {{ $t(`education.${ecosocialLearningGroupToLocaleIndex(ecosocialLearning.group)}`) }}
                            p.mt-4 {{ ecosocialLearning.eEvCrs[eEvCrIndex].content }}
                        template(v-slot:default) 
                            v-row
                                v-col(cols="11")
                                    Checkbox.mt-4(
                                        v-for="eBW in [...ecosocialLearning.eBWs, ...ecosocialLearning.uDEBWs]"
                                        :label="eBW.content"
                                        @click="toggleEBW(eBW.id, ecosocialLearning.eEvCrs[eEvCrIndex].id, ecosocialLearning.id, eBW.isUserDefined != undefined ? true : false)"
                                        v-model="checkboxesState[ecosocialLearning.eEvCrs[eEvCrIndex].id][eBW.isUserDefined != undefined ? `uDEBW-${eBW.id}`:eBW.id]"
                                    )
                                    userDefinedEBWForm(
                                        :click="(content) => createUserDefinedEBW(content,ecosocialLearning.eEvCrs[eEvCrIndex].id, ecosocialLearning.id)"
                                    )

ValidationFailedDialog(
    v-model="showValidationFailedDialog"
)  
    p {{ $t('education.step5ValidationError') }}
</template>
<script setup lang="ts">
    import { ecosocialLearningGroupToColor } from '~/utils/ecosocialLearnings'
    import { ecosocialLearningGroupToLocaleIndex } from '~/utils/locales'

    const showValidationFailedDialog: Ref<boolean> = ref(false)

    const programStore = useProgramStore()
    const { ecosocialLearnings } = storeToRefs(programStore)

    const checkboxesState: Ref<object> = ref(setCheckboxesState())

    function setCheckboxesState(): object {
        let checkboxesState = {}
        ecosocialLearnings.value.forEach(eL => {
            eL.eEvCrs.forEach((eEvCr, eEvCrIndex) => {
                if(checkboxesState[eEvCr.id] == undefined) {
                    checkboxesState[eEvCr.id] = {}
                }
                eL.eBWs.forEach((eBW, eBWIndex) => {
                    if(checkboxesState[eEvCr.id][eBW.id] == undefined){
                        const isChecked = eL.eEvCrToEBWMatrix[eEvCrIndex][eBWIndex]
                        checkboxesState[eEvCr.id][eBW.id] = isChecked
                    }
                })
                eL.uDEBWs.forEach((uDEBW, uDEBWIndex) => {
                    if(checkboxesState[eEvCr.id][`uDEBW-${uDEBW.id}`] == undefined){
                        const isChecked = eL.eEvCrToUDEBWMatrix[eEvCrIndex][uDEBWIndex]
                        checkboxesState[eEvCr.id][`uDEBW-${uDEBW.id}`] = isChecked
                    }
                })
            })
        })
        return checkboxesState
    }

    // TODO: sanitize input
    function createUserDefinedEBW(content: string, eEvCrId: number, eLId: number) {
        // Create it
        const uDEBW = programStore.createUDEBW(content,eLId,eEvCrId)
        // Update checkboxesState
        checkboxesState.value[eEvCrId][`uDEBW-${uDEBW.id}`] = true
    }

    function toggleEBW(eBWId: number, eEvCrId: number, eLId: number, isUserDefined: boolean = false) {
        const wasChecked = checkboxesState.value[eEvCrId][isUserDefined ? `uDEBW-${eBWId}`: eBWId]
        
        if(wasChecked){
            programStore.removeEBW(eLId,eEvCrId,eBWId, isUserDefined)
        } else {
            programStore.addEBW(eLId,eEvCrId,eBWId, isUserDefined)
        }
    }

    function next(): boolean {
        // At least one EBW has to be selected for each EEvCr
        let numOfSelectedEBW = 0
        ecosocialLearnings.value.forEach(eL => {
            eL.eEvCrToEBWMatrix.forEach(eBWFilter => 
                numOfSelectedEBW = eBWFilter.includes(true) ? numOfSelectedEBW + 1 : numOfSelectedEBW
            )
            eL.eEvCrToUDEBWMatrix.forEach(eBWFilter => 
                numOfSelectedEBW = eBWFilter.includes(true) ? numOfSelectedEBW + 1 : numOfSelectedEBW
            )
        })
        if(numOfSelectedEBW == 0){
            showValidationFailedDialog.value = true
            return false
        } 
        return true
    }

</script>
<style scoped>
.ecosocial-learning-group-heading {
    background-color: transparent !important;
    text-transform: uppercase !important;
    font-weight: 400 !important;
    text-shadow: 0 0 0 rgba(0,0,0,.2);
}
</style>