<template lang='pug'>
Step(:stepTitle="$t('education.step8Title')")
    template(v-slot:header)
        p(v-html="$t('education.step8Description')")
    
    template(v-slot:main)
        v-col(cols="6")
            h3 {{ $t('education.learningUnits') }}
            v-virtual-scroll(v-if="learningUnits != undefined" :items="learningUnits" height="80vh")
                template(v-slot:default="{ item: lU, index }")
                    CollapsableCard(
                        @click="selectLU(lU.name)" 
                        :selected="selectedLU.name == lU.name" 
                        :collapsed="index != 0"
                    )
                        template(v-slot:title)
                            h4 {{ lU.name }}
                        template(v-slot:default)
                            p.fs-md.mb-2 {{ $t("education.ecosocialLearnings") }}
                            template(
                                v-if="ecosocialLearnings != undefined" 
                                v-for="(eL,eLIndex) in ecosocialLearnings"
                            )
                                //- Check if eL is selected by the lU
                                Card(
                                    v-if="lU.partialEEvCrs.findIndex(p => p.eLIndex == eLIndex) > -1"
                                    :borderColor="ecosocialLearningGroupToColor(eL.group)"
                                )
                                    template(v-slot:title)
                                        p.mt-4 {{ eL.content }}
                                        h5.ecosocial-learning-group-heading.mt-4.mb-2.pa-0(
                                            :style="{color: ecosocialLearningGroupToColor(eL.group)}"
                                        ) {{ $t(`education.${ecosocialLearningGroupToLocaleIndex(eL.group)}`) }}
                                    template(v-slot:default)
                                        template(
                                            v-if="lU.partialEEvCrs.length > 0" 
                                            v-for="(indexes,pIndex) in lU.partialEEvCrs"
                                        )
                                            //- Check if eEvCr belongs to this eL
                                            Card(
                                                v-if="ecosocialLearnings[indexes.eLIndex].id == eL.id"
                                            )
                                                template(v-slot:title)
                                                    p {{ eL.eEvCrs[indexes.eEvCrIndex].content }}
                                            
                            p.fs-md.mb-2 {{ $t("education.specificSkills") }}
                            template(
                                v-if="specificSkills != undefined" 
                                v-for="(sS,sSIndex) in specificSkills"
                            )
                                //- Check if sS is selected by the lU
                                Card(v-if="lU.partialEvCrs.findIndex(p => p.sSIndex == sSIndex) > -1")
                                    template(v-slot:title)
                                        p {{ sS.content }}  
                                    template(v-slot:default)
                                        template(
                                            v-if="lU.partialEvCrs.length > 0" 
                                            v-for="(indexes,partialEvCrIndex) in lU.partialEvCrs"
                                        )
                                            //- Check if evCr belongs to this sS
                                            Card(v-if="specificSkills[indexes.sSIndex].id == sS.id")
                                                template(v-slot:title)
                                                    p {{ sS.evCrs[indexes.evCrIndex].content }}       
                
        v-col(cols="6")
            h3 {{ $t('education.basicWisdoms') }}
            v-virtual-scroll(:items="[{}]" height="80vh")
                template(v-slot:default="{item}")
                    Card
                        template(v-slot:title)
                            h4.mb-4 {{ selectedLU.name }}
                        templalte(v-slot:default)
                            template(
                                v-for="(eL,eLIndex) in ecosocialLearnings" 
                            )    
                                template(
                                    v-if="checkboxesState[selectedLU.name][`eL-${eL.id}`] != undefined" 
                                    v-for="(eBW,eBWIndex) in eL.eBWs" 
                                )
                                    //- Check if the eBWs has to be shown, if it was filtered in step 5 don't
                                    Checkbox(
                                        :label="eBW.content"
                                        v-if="checkboxesState[selectedLU.name][`eL-${eL.id}`][`eBW-${eBW.id}`] != undefined"
                                        v-model="checkboxesState[selectedLU.name][`eL-${eL.id}`][`eBW-${eBW.id}`]"
                                        :disabled="isLastEBW(selectedLU, eBWIndex)"
                                        @click="toggleEBW(selectedLU.name, eL.id, eBW.id)" 
                                    )
                                
                                template(
                                    v-if="checkboxesState[selectedLU.name][`eL-${eL.id}`] != undefined" 
                                    v-for="(uDEBW,uDEBWIndex) in eL.uDEBWs" 
                                )
                                    //- Check if the uDEBWs has to be shown, if it was filtered in step 5 don't
                                    Checkbox(
                                        :label="uDEBW.content"
                                        v-if="checkboxesState[selectedLU.name][`eL-${eL.id}`][`uDEBW-${uDEBW.id}`] != undefined"
                                        v-model="checkboxesState[selectedLU.name][`eL-${eL.id}`][`uDEBW-${uDEBW.id}`]"
                                        :disabled="isLastEBW(selectedLU, uDEBWIndex, uDEBW.id)"
                                        @click="toggleEBW(selectedLU.name, eL.id, uDEBW.id, true)" 
                                    )
                            
                            template(
                                v-for="(bW,bWIndex) in basicWisdoms" 
                            )
                                //- Check if the bWs has to be shown
                                Checkbox(
                                    :label="bW.content"
                                    v-if="checkboxesState[selectedLU.name][`bW-${bW.id}`] != undefined"
                                    v-model="checkboxesState[selectedLU.name][`bW-${bW.id}`]"
                                    @click="toggleBW(selectedLU.name, bW.id)" 
                                    :disabled="isLastBW(selectedLU, bWIndex, false)"
                                )

                            template(
                                v-if="selectedLU.uDBWs.length > 0"
                                v-for="(bW,bWIndex) in selectedLU.uDBWs" 
                            )
                                //- Check if the bWs has to be shown
                                Checkbox(
                                    :label="bW.content"
                                    v-if="checkboxesState[selectedLU.name][`uDBW-${bW.id}`] != undefined"
                                    v-model="checkboxesState[selectedLU.name][`uDBW-${bW.id}`]"
                                    @click="toggleBW(selectedLU.name, bW.id, true)" 
                                    :disabled="isLastBW(selectedLU, bWIndex, true)"
                                )

                            TextFieldWithBtn.mb-4(
                                v-model='content'
                                :inputAttr='contentAttr'
                                :label="$t('common.add_yours')"
                                :btnText="$t('common.ok')"
                                :click='(content) => addUserDefinedBW(content,selectedLU.name)'
                            )   

</template>
<script setup lang="ts">
    import { z } from 'zod'
    import { ecosocialLearningGroupToColor } from '~/utils/ecosocialLearnings';

    const showValidationFailedDialog: Ref<boolean> = ref(false)

    const programStore = useProgramStore()
    const { learningUnits, ecosocialLearnings, specificSkills, basicWisdoms } = storeToRefs(programStore)
    const selectedLU: Ref<object> = ref({})
    // Initialize to first card
    selectLU(learningUnits.value[0].name)
    const checkboxesState: Ref<object> = ref(generateCheckboxesState())

   // Create form and ecosocial basic wisdom field
   const userDefinedEBWSchema = z.object({
        content: z.string()
    })
    const form = useForm({
        validationSchema: toTypedSchema(userDefinedEBWSchema),
    })
    // Configure error messages
    const vuetifyConfig = (state) => ({
        props: {
            'error-messages': state.errors,
        },
    })
    const [content, contentAttr] = form.defineField('content', vuetifyConfig);

    // Displays the selected EEvCr, changes haven't been saved yet, therefore all EBWs are shown.
    function selectLU(lUName: string) {
        const index = learningUnits.value.findIndex(l => l.name == lUName)

        selectedLU.value = { 
            ...learningUnits.value[index]
        }
    }

    function generateCheckboxesState(): object {
        const checkboxesState = {}
        learningUnits.value.forEach((lU,lUIndex) => {
            if(checkboxesState[lU.name] == undefined) {
                checkboxesState[lU.name] = {}
            }
            lU.partialBWs.forEach(({bWIndex,keep},i) => {
                const bW = basicWisdoms.value[bWIndex]
                const bWKey = `bW-${bW.id}`
                checkboxesState[lU.name][bWKey] = keep
            })
            lU.partialEBWs.forEach(({eLIndex,bWIndex},pIndex) => {
                const eL = ecosocialLearnings.value[eLIndex]
                const eLKey = `eL-${eL.id}`
                if(checkboxesState[lU.name][eLKey] == undefined){
                    checkboxesState[lU.name][eLKey] = {}
                }
                const eBW = eL.eBWs[lU.partialEBWs[pIndex].eBWIndex]
                const eBWKey = `eBW-${eBW.id}`
                const isChecked = lU.partialEBWs[pIndex].keep
                checkboxesState[lU.name][eLKey][eBWKey] = isChecked
            })
            lU.partialUDEBWs.forEach(({eLIndex,uDEWIndex},pIndex) => {
                const eL = ecosocialLearnings.value[eLIndex]
                const eLKey = `eL-${eL.id}`
                if(checkboxesState[lU.name][eLKey] == undefined){
                    checkboxesState[lU.name][eLKey] = {}
                }
                eL.uDEBWs.forEach((uDEBW,i) => {
                    const uDEBWKey = `uDEBW-${uDEBW.id}`
                    const isChecked = lU.partialUDEBWs[pIndex].keep
                    checkboxesState[lU.name][eLKey][uDEBWKey] = isChecked
                })
            })
            lU.uDBWs.forEach((uDBW,i) => {
                const isChecked = lU.filterUDBWs[i]
                const uDBWKey = `uDBW-${uDBW.id}`
                checkboxesState[lU.name][uDBWKey] = isChecked
            })
        })
        return checkboxesState
    }

    // // Creates a new user-defined EBW and adds it to the current lU
    function addUserDefinedBW(content: string, lUName: string){
        console.log("[addUDBW]",lUName)
        const uDBW = programStore.createUDBW(content, lUName)
        // Update checkboxes
        checkboxesState.value[lUName][`uDBW-${uDBW.id}`] = true
    }

    // // Checks if the current BW is the last one selected
    function isLastBW(lU: LearningUnit, bWIndex: number, isUserDefined: boolean = false): boolean {
        const pIndex = lU.partialBWs.findIndex(indexes => indexes.bWIndex == bWIndex)

        // Count the number of selected bWs
        const numOfSelectedBWs: number = lU.partialBWs.reduce((acc,bWIndexes) => bWIndexes.keep ? acc+1 : acc, 0)
        const numOfSelectedEBWs: number = lU.partialEBWs.reduce((acc,eBWIndexes) => eBWIndexes.keep ? acc+1 : acc, 0)
        // Count the number of selected uDEBWs
        const numOfSelectedUDBWs: number  = lU.filterUDBWs.reduce((acc,isSelected) => isSelected ? acc+1 : acc, 0)
        const numOfSelectedUDEBWs: number  = lU.partialUDEBWs.reduce((acc,uDEWIndexes) => uDEWIndexes.keep ? acc+1 : acc, 0)

        const onlyOneSelected = (numOfSelectedBWs + numOfSelectedEBWs + numOfSelectedUDEBWs + numOfSelectedUDBWs) == 1
        // Check if its current bW or uDBW
        let isCurrentBW = false
        if(isUserDefined){
            isCurrentBW = lU.filterUDBWs[bWIndex] 
        } else {
            isCurrentBW = lU.partialBWs[pIndex].keep
        }
        return onlyOneSelected && isCurrentBW 
    }

    function isLastEBW(lU: LearningUnit, eBWIndex: number, uDEBWId: number = -1): boolean {
        // Count the number of selected bWs
        const numOfSelectedBWs: number = lU.partialBWs.reduce((acc,bWIndexes) => bWIndexes.keep ? acc+1 : acc, 0)
        const numOfSelectedEBWs: number = lU.partialEBWs.reduce((acc,eBWIndexes) => eBWIndexes.keep ? acc+1 : acc, 0)
        // Count the number of selected uDEBWs
        const numOfSelectedUDBWs: number = lU.filterUDBWs.reduce((acc,isSelected) => isSelected ? acc+1 : acc, 0)
        const numOfSelectedUDEBWs: number = lU.partialUDEBWs.reduce((acc,uDEWIndexes) => uDEWIndexes.keep ? acc+1 : acc, 0)
        const onlyOneSelected = (numOfSelectedBWs + numOfSelectedEBWs + numOfSelectedUDEBWs + numOfSelectedUDBWs) == 1
        // Check if its current eBW or uDEBW
        let isCurrentEBW = false
        if(uDEBWId != -1){
            const pIndex = lU.partialUDEBWs.findIndex(indexes => indexes.uDEBWIndex == eBWIndex)
            const { eLIndex, uDEBWIndex} = lU.partialUDEBWs[pIndex]
            isCurrentEBW = lU.partialUDEBWs[pIndex].keep && ecosocialLearnings.value[eLIndex].uDEBWs[uDEBWIndex].id == uDEBWId
        } else {
            const pIndex = lU.partialEBWs.findIndex(indexes => indexes.eBWIndex == eBWIndex)
            isCurrentEBW = lU.partialEBWs[pIndex].keep
        }
        return onlyOneSelected && isCurrentEBW 
    }

    function toggleEBW(lUName: string, eLId: number, eBWId: number, isUserDefined: boolean = false) {
        const eBWKey = isUserDefined ? `uDEBW-${eBWId}` : `eBW-${eBWId}`
        const wasChecked = checkboxesState.value[lUName][`eL-${eLId}`][eBWKey]
        
        if(wasChecked){
            programStore.removeEBWFromLU(lUName,eLId,eBWId,isUserDefined)
        } else {
            programStore.addEBWToLU(lUName,eLId,eBWId,isUserDefined)
        }
    }

    function toggleBW(lUName: string, bWId: number, isUserDefined: boolean = false) {
        const bWKey = isUserDefined ? `uDBW-${bWId}` : `bW-${bWId}`
        const wasChecked = checkboxesState.value[lUName][bWKey]
        
        if(wasChecked){
            programStore.removeBWFromLU(lUName,bWId, isUserDefined)
        } else {
            programStore.addBWToLU(lUName,bWId, isUserDefined)
        }
    }

    // Step 8 check's:
    // - BWs mapped to EvCr (in Step 2) added in Step 7 are reflected in Step 8 (first round) ✅
    // - When in Step 2 a bW is added/removed from an evCr, it should update the affected lUs in Step 8 (later rounds) ✅
    // - When in Step 7 a evCr is allocated/dellocated from lU, it should update the affected lUs in Step 8 ✅
    // - EBWs mapped to EEvCr (in Step 5) added in Step 7 are reflected in Step 8 (first round) ✅
    // - When in Step 5 eBW is added/removed from eEvCr, it should update the affected lUs in Step 8 (later rounds)
    // - When in Step 7 a eEvCr is allocated/dellocated from lU, it should update the affected lUs in Step 8 ✅
    // - UDEEvCr added in Step 5 are reflected in Step 8 (first round) ✅
    // - UDEEvCr added/removed in Step 5 are reflected in Step 8 (other rounds) ✅
    // - UDEvCr added in Step 8 are properly stored ✅
    // - When in step 3 an eL is removed, it should update the affected lUs✅
    // - When in step 4 an eEvCr is removed, it should update the affected lUs ✅
    // - Check User Defined Basic Wisdoms ✅
    // - If only one bW remain disable it to avoid lUs without bWs ✅

</script>
<style scoped>
.v-virtual-scroll__item:last-child .v-card {
    margin-bottom:  0 !important;
}

.fs-md {
    font-size: 1rem;
}

.ecosocial-learning-group-heading {
    background-color: transparent !important;
    text-transform: uppercase !important;
    font-weight: 400 !important;
    text-shadow: 0 0 0 rgba(0,0,0,.2);
    font-size: .75rem;
}
</style>    