<template lang='pug'>
Step(
    :stepTitle="$t('education.step6Title')"
    :next="next"
)
    template(v-slot:header)
        p(v-html="$t('education.step6Description')")
    
    template(v-slot:main)
        v-col(cols="10")
            Card.pa-4(
                v-if="learningUnits != undefined" 
                v-for="learningUnit in learningUnits"
            )
                v-row.py-2.pl-2.pr-1(justify="center" align="center")
                    h4 {{ learningUnit.name }}
                    v-spacer
                    v-btn(
                        variant="outlined" 
                        @click='() => removeLearningUnit(learningUnit.name)'
                    ) 
                        v-icon(icon="mdi-trash-can-outline")
            
            TextFieldWithBtn(
                :model="content"
                :inputAttr="contentAttr"
                :label="$t('common.add_yours')"
                :btnText="$t('common.ok')"
                :click='(content) => createLearningUnit(content)'
            )     

ValidationFailedDialog(
    v-model="showValidationFailedDialog"
)  
    p {{ $t('education.step6ValidationError') }}
</template>
<script setup lang="ts">
    import { toTypedSchema } from '@vee-validate/zod'
    import { z } from 'zod'

    const showValidationFailedDialog: Ref<boolean> = ref(false)

    const programStore = useProgramStore()
    const { learningUnits } = storeToRefs(programStore)

    // Create form and fields
    const simpleFieldSchema = toTypedSchema(z.object({
        content: z.string().optional()
    }))
    const form = useForm({
        validationSchema: simpleFieldSchema,
    })
    // Configure error messages
    const vuetifyConfig = (state) => ({
        props: {
            'error-messages': state.errors,
        },
    })
    const [content, contentAttr] = form.defineField('content', vuetifyConfig);

    // TODO: sanitize input
    function createLearningUnit(name: string) {
        programStore.createLearningUnit(name) 
    }

    function removeLearningUnit(name: string) {
        programStore.deleteLearningUnit(name) 
    }

    function next(): boolean {
        if(learningUnits.value.length == 0){
            showValidationFailedDialog.value = true
            return false
        } 
        return true
    }
</script>
<style scoped>
    .v-icon {
        font-size: 1.5rem;
    }
</style>