<template lang='pug'>

Step(
    :stepTitle="$t('education.step2Title')"
    :next="next"
)
    template(v-slot:header)
        p(v-html="$t('education.step2Description')")
        MoreInfoDialog(:text="$t('education.step2MoreInfo')")
    
    template(v-slot:main)
        v-col(cols="5")
            h3 {{ $t('education.specificSkills') }}
            v-virtual-scroll(
                v-if="specificSkills != undefined" 
                height="80vh" 
                :items="sortSSAlphabetically(specificSkills)"
            )
                template(v-slot:default="{ item: specificSkill, index }")
                    CollapsableCard(:collapsed="index == 0 ? false : true")
                        template(v-slot:title)
                            p {{ specificSkill.content }}
                        template(
                            v-slot:default
                        )
                            div(
                                v-if="specificSkill.evCrs != undefined" 
                                v-for="evaluationCriteria in sortEvCrAlphabetically(specificSkill.evCrs)"
                            )
                                Card(
                                    @click="selectEvCr(evaluationCriteria.id, specificSkill.id)" 
                                    :selected="selectedEvCr.id == evaluationCriteria.id ? true : false "
                                ) {{ evaluationCriteria.content }} 
        
        v-col(cols="7")
            h3 {{ $t('education.basicWisdoms') }}
            v-virtual-scroll(v-if="requestedBWTrees != undefined" height="80vh" :items="requestedBWTrees")
                template(v-slot:default="{ item: basicWisdomsTree, index }")
                    BasicWisdomsTree(
                        :basicWisdomsTree="basicWisdomsTree"
                        :selectedEvCrToBW="selectedEvCrToBW"
                        :collapsed="index == 0 ? false : true"
                    )
                        template(v-slot:default="item")
                            v-row.basic-wisdom-card
                                v-col
                                    v-row.ma-0.pa-0
                                        BasicWisdomCheckbox(
                                            :basicWisdom="item.basicWisdom"
                                            :selectedEvCrToBW="item.selectedEvCrToBW"
                                            @toggle="(basicWisdom) => toggleBW({ id: basicWisdom.id, content: basicWisdom.content }, selectedEvCr.id, selectedEvCrToBW.specificSkillId)"
                                        )
                                    v-row.mt-0.pt-2.pl-12.ga-1.pb-4
                                        template(v-for="evaluationCriteria in chipsState[item.basicWisdom.id]")
                                            Chip(:text="evaluationCriteria.content.substring(0, evaluationCriteria.content.indexOf(' '))")   

ValidationFailedDialog(
    v-model="showValidationFailedDialog"
)  
    p {{ $t('education.step2ValidationError') }}
    ul.pl-8.mt-4
        li(v-for="evCr in unassignedEvCrs")  {{ evCr }}
</template>
<script setup lang="ts">
    import { getLeafBWs } from '~/utils/basicWisdoms';

    const { sortSSAlphabetically, sortEvCrAlphabetically } = useSort()
    const showValidationFailedDialog: Ref<boolean> = ref(false)
    const unassignedEvCrs: Ref<Array<string>> = ref([]) // Store the indentifiers of unassigned evCrs

    const programStore = useProgramStore()
    const { course, specificSkills, basicWisdoms } = storeToRefs(programStore)

    // Fetch basic wisdom trees
    const { basicWisdoms: requestedBWTrees } = await useBasicWisdoms(course.value.id)
    
    if(basicWisdoms.value.length == 0) {
        // Get last level bWs to store them
        requestedBWTrees.value.forEach((b: BasicWisdomTree) => basicWisdoms.value = basicWisdoms.value.concat(...getLeafBWs(b)))
        programStore.setBasicWisdoms(basicWisdoms.value)
    }

    // If there aren't specific skills stored, load them from the backend
    if(specificSkills.value.length == 0) {
        const { specificSkills: requestedSpecificSkills } = await useSpecificSkills(course.value.id)

        
        requestedSpecificSkills.value.forEach(requestedSS => {
            // Build the map matrix
            let evCrs: Array<EvaluationCriteria> = []
            requestedSS.evaluationCriterias.forEach(e => evCrs.push({
                id: e.id,
                content: e.content
            }))
            let evCrToBWMatrix: Array<Array<boolean>> = []
            requestedSS.evaluationCriterias.forEach(() => evCrToBWMatrix.push(Array.from({length: basicWisdoms.value.length}, () => false)))
            // Insert specific skill
            programStore.addSS({
                id: requestedSS.id,
                content: requestedSS.content,
                evCrs,
                evCrToBWMatrix
            })
        })
    }
    
    const selectedEvCr: Ref<EvaluationCriteria> = ref(sortEvCrAlphabetically(sortSSAlphabetically(specificSkills.value)[0].evCrs)[0])
    const selectedEvCrToBW: Ref<SelectedEvCrToBW> = ref(selectEvCrToBW(0,0))
    const chipsState: Ref<object> = ref(setChipsState()) // A map from bWs to evCrs

    // Transpose evCrToBWMatrix and filter evCrs to get the chips map
    function setChipsState(): object {
        const map: object =  {}
        specificSkills.value.forEach(sS => {
            const sSIndex = specificSkills.value.findIndex(s => s.id == sS.id)
            basicWisdoms.value.forEach((b,i) => {
                const evCrsFilter: Array<boolean> = []
                specificSkills.value[sSIndex].evCrToBWMatrix.forEach(arr => evCrsFilter.push(arr[i]))
                // If its the first record, create array
                if(map[b.id] == undefined){                    
                    map[b.id] = specificSkills.value[sSIndex].evCrs.filter((e,i) => evCrsFilter[i])
                // Otherwise, concatenate
                } else {
                    map[b.id] = map[b.id].concat(specificSkills.value[sSIndex].evCrs.filter((e,i) => evCrsFilter[i]))
                }
            })
        })
        return map
    }

    // Returns the filtered basic wisdom array
    function selectEvCrToBW(sSIndex: number, evCrIndex: number): SelectedEvCrToBW {
        const bWsFilter: Array<boolean> = specificSkills.value[sSIndex].evCrToBWMatrix[evCrIndex]
        const bWs: Array<BasicWisdom> = basicWisdoms.value.filter((b,i) => bWsFilter[i])
        return {
            specificSkillId: specificSkills.value[sSIndex].id,
            evaluationCriteria: specificSkills.value[sSIndex].evCrs[evCrIndex],
            basicWisdoms: bWs
        }
    }

    function selectEvCr(evCrId: string, sSId: string) {
        let sSIndex = -1
        let evCrIndex = -1
        specificSkills.value.forEach((s,i) => {
            if(s.id == sSId) {
                sSIndex = i
                evCrIndex = s.evCrs.findIndex(e => e.id == evCrId)
                selectedEvCr.value = s.evCrs[evCrIndex]
            }
        })
        
        // Also select map of EvCr to BW
        if(sSIndex > -1 && evCrIndex > -1){
            selectedEvCrToBW.value = selectEvCrToBW(sSIndex,evCrIndex)
        }
    }

    function toggleBW(basicWisdom: BasicWisdom, evCrId: string, sSId: string) {
        const { sSIndex, evCrIndex, bWIndex } = useSpecificSkillsIndexes(specificSkills.value,basicWisdoms.value,sSId,evCrId,basicWisdom.id)
        const wasChecked = specificSkills.value[sSIndex].evCrToBWMatrix[evCrIndex][bWIndex]
        
        // Toggle value
        if(!wasChecked){
            programStore.addBWToEvCr(sSId, evCrId, basicWisdom.id)
        } else {
            programStore.removeBWFromEvCr(sSId, evCrId, basicWisdom.id)
        }
        selectedEvCrToBW.value = selectEvCrToBW(sSIndex,evCrIndex)

        // Keep track of the chips map
        chipsState.value = setChipsState()
    }

    async function next() {
        unassignedEvCrs.value = []
        specificSkills.value.forEach(sS => {
            // Check that all evCr has at least one bW assigned
            sS.evCrToBWMatrix.forEach((bWsFilter,i) => 
                !bWsFilter.includes(true) ? unassignedEvCrs.value.push(sS.evCrs[i].content.split(' ')[0]) : null
            )
        })
        if(unassignedEvCrs.value.length > 0){
            showValidationFailedDialog.value = true
            return false
        }
        return true
    }
</script>

<style scoped>

p {
    white-space: pre-line;
}

.v-card .basic-wisdom-card:last-child {
    padding-bottom: 2rem;
}

</style>