<template lang="pug">
footer.mt-8
    v-col
        v-row.py-4(justify="space-between")
            BtnPrevStep(:click="prev")
            BtnNextStep(:click="next")
        v-row.py-4(justify="end" align="center")
            span {{ $t('education.save') }}
            SaveBtn.ml-8
</template>

<script setup>
const props = defineProps({
    prev: Function,
    next: Function
})
</script>

<style scoped lang="scss">
.v-row {
    border-top: 1px solid rgb(var(--v-theme-light-border));
}
</style>