<template lang='pug'>
v-container.pa-0
    Header
            
    v-row(justify="center")
        v-col(cols="12")
            v-container.surface
                slot
</template>
<style scoped>
.v-container{
    max-width: 100%;
    min-height: calc(100vh - 100px);
}
.surface {
    background-color: rgb(var(--v-theme-surface-bright));
}
.v-container:deep(h1) {
    font-size: 1.5rem;
}
</style>
