<template lang='pug'>
v-container.pa-0
    Header
            
    v-row(justify="start" no-gutters)
        v-col(cols="2").sidebar
            Sidebar
        
        v-col.pa-4.pa-lg-8.px-xl-12.steps(cols="10")
            slot
</template>
<style scoped>
.v-container{
    max-width: 100%;
}
.v-row{
    background-color: rgb(var(--v-theme-surface-bright));
}
.steps {
    min-height: calc(100vh - 100px);
    max-width: 1440px;
}
.sidebar{
    background-color: rgb(var(--v-theme-surface));
}
</style>
