<template lang='pug'>
v-row.mt-md-5.ma-0(align='center' justify='center')
    v-col.pa-0.pa-md-3(cols='12' md="5" lg="4" xl="3")

        h1 {{$t('common.activate_user')}}
        p.mt-8(v-html="$t('register.complete')")
        Btn.mt-4(variant="text" @click="navigateTo('/')" :label="$t('common.home')")
                template(v-slot:prepend)
                    v-icon(icon="mdi-arrow-left")
                    
</template>

<script setup lang="ts">

    definePageMeta({ 
        auth: false,
        layout: 'no-paper'
    })

</script>
    