<template lang='pug'>
v-row.mt-8(justify="center")
    v-col(cols='12' md="10" lg="8" xl="6")
            v-container
                v-row.mt-md-5(align='center' justify='center')
                    v-col.pa-md-3
                        Btn.mb-8(@click='navigateTo("/license")' :label="$t('license.createBtn')")
                        LicensesTable
                        
</template>
<script setup lang="ts">
</script>
<style scoped>    
</style>
    