<template lang="pug">
Step1(v-if="currentStep == 1")
Step2(v-else-if="currentStep == 2")
Step3(v-else-if="currentStep == 3")
Step4(v-else-if="currentStep == 4")
Step5(v-else-if="currentStep == 5")
Step6(v-else-if="currentStep == 6")
Step7(v-else-if="currentStep == 7")
Step8(v-else-if="currentStep == 8")
Step9(v-else-if="currentStep == 9")
Step10(v-else)
</template>
<script setup lang="ts">
    import { getLeafBWs } from '../utils/basicWisdoms';

    const { status, getSession } = useAuth() // status = 'unauthenticated' | 'authenticated'
    const { data: session } = useAuthState()

    await getSession({ force: true })

    definePageMeta({ 
        auth: true,
        layout: "step",
    })

    const { canCreateProgram } = await useCanCreateProgram(session.value)

    if(!canCreateProgram) {
        navigateTo('/info')
    }

    // First of all, load the program
    const { programRecord } = await useProgramRecord()
    const programStore = useProgramStore()

    if(programRecord != undefined){

        let program = {...programRecord.programObj}

        const { specificSkills } = await useSpecificSkills(program.course.id)
        const { basicWisdoms } = await useBasicWisdoms(program.course.id)
        // Get last level bWs to store them
        let leafBWs: Array<BasicWisdom> = []
        basicWisdoms.value.forEach((b: BasicWisdomTree) => leafBWs = leafBWs.concat(...getLeafBWs(b)))
        const { ecosocialLearnings } = await useEcosocialLearnings({
            academicYear: program.course.academicYear,
            locale: program.course.locale
        })

        program = loadProgram(program, specificSkills.value, leafBWs, ecosocialLearnings.value)
        programStore.resume({...program})
    }

    const { currentStep } = useStep()

    // Start autosave
    const { startAutoSave } = useSaveProgram()
    startAutoSave()

    function loadProgram(program: ProgramState, specificSkills: Array<SpecificSkill>, basicWisdoms: Array<BasicWisdom>, ecosocialLearnings: Array<EcosocialLearning>): ProgramState {
        // Fill content of specific skills
        program.specificSkills.forEach(sS => {
            let fullSS = {} 
            specificSkills.forEach(requestedSS => {
                if(requestedSS.id == sS.id) {
                    sS.content = requestedSS.content
                    fullSS = requestedSS
                }
            })
            sS.evCrs.forEach(evCr => {
                fullSS.evaluationCriterias.forEach(requestedEvCr => {
                    if(requestedEvCr.id == evCr.id) {
                        evCr.content = requestedEvCr.content
                    }
                })
            })
        })
        program.basicWisdoms.forEach(bW => {
            basicWisdoms.forEach(requestedBW => {
                if(requestedBW.id == bW.id) {
                    bW.content = requestedBW.content
                }
            })
        })

        // Fill content of ecosocial learnings
        program.ecosocialLearnings.forEach(eL => {
            let fullEL = {} 
            ecosocialLearnings.forEach(requestedEL => {
                if(requestedEL.id == eL.id) {
                    eL.content = requestedEL.content
                    fullEL = requestedEL
                }
            })
            eL.eEvCrs.forEach(eEvCr => {
                fullEL.ecosocialEvaluationCriterias.forEach(requestedEEvCr => {
                    if(requestedEEvCr.id == eEvCr.id) {
                        eEvCr.content = requestedEEvCr.content
                    }
                })
            })
            eL.eBWs.forEach(eBW => {
                fullEL.ecosocialBasicWisdoms.forEach(requestedEBW => {
                    if(requestedEBW.id == eBW.id) {
                        eBW.content = requestedEBW.content
                    }
                })
            })
        })

        // Add the id to the program store if it wasn't registered already
        if(program.id == -1) {
            program.id = programRecord.id 
        }
        
        return program
    } 

</script>

<style scoped>
</style>