<template lang="pug">
v-row(justify="center" align="center")
    v-col(cols=4)
        h1.mb-6 {{ $t('license.licenseUsageTitle') }}
        template(v-if="canCreateProgram")
            p {{ $t('license.licenseUsageDescription1',{licenseUsageCounter,usageLimit}) }}
            v-row.mt-4(justify="end")
                v-btn(variant="elevated" color="primary" @click="restart") {{  $t('common.ok') }}
        template(v-else)
            p {{ $t('license.licenseUsageDescription2') }}

</template>
<script setup lang="ts">
    
    const { getSession } = useAuth() 
    const { data: session } = useAuthState()
    const programStore = useProgramStore()

    await getSession({ force: true })

    definePageMeta({ 
        auth: true,
        layout: 'no-paper'
    })
    
    const { licenseUsageCounter, usageLimit, canCreateProgram } = await useCanCreateProgram(session.value)
    
    function restart() {
        programStore.reset()
        navigateTo('/')
    } 

</script>

<style scoped>
</style>