<template lang='pug'>
v-row.first-row(align='center' justify='center')
    v-col.pa-0.pa-md-3(cols='12' md="5" lg="4" xl="3")
        h2 {{ 'PROECOS' }}
        p {{ $t("education.appTitle") }}
        v-divider.mb-8

        v-form(ref='loginForm')
            h2 {{ $t('login.title') }}
            v-divider
            v-text-field(v-model='email' type='email'
                v-bind='emailAttrs'
                ref='emailField'
                :label='$t("common.email")')

            PasswordField(v-model='password' :label='$t("common.password")' @keyup.enter="submit")

            v-alert(v-if='loginFailed' variant="outlined" type="error" icon="$error" :title="$t('common.error')" :text="$t('login.error')") 
            v-alert(v-if='forgotPassEmailSent' variant="outlined" type="success" icon="$success" :title="$t('common.ok')" :text="$t('auth.recover_pass_sent')") 

        v-row.my-4
            Btn.btn-forgot-pass(
                tabindex="1" 
                @click='forgot' 
                variant="text"
                :label="$t('login.forgot_password')"
            ) 

        v-row
            v-col
                Btn.full(
                    @click='submit' 
                    :loading='loading'
                    variant="elevated"
                    base-color="primary"
                    :label = "$t('common.login')"
                )
        v-row
            v-col
                Btn.full(
                    to='/register' 
                    variant="outlined"
                    base-color="primary" 
                    :label="$t('login.not_registered')"
                )

v-row.mt-8(justify="center")
    v-col.pa-2(cols="auto")
        p {{ $t('common.projectBy') }}
        a(href="https://www.fuhem.es/" target="_blank")
            img.mt-4.ml-8(src="/assets/logo_fuhem.png" alt="Logo Fuhem")
        a(href="https://www.fuhem.es/vinculo-ecosocial/" target="_blank")
            img.ml-8(src="/assets/logo_vinculo_ecosocial.png" alt="Logo Vínculo Ecosocial")
v-row.mt-4(justify="center")
    v-col.pa-2(cols="auto")
        p {{ $t('common.fundedBy') }}
        img.mt-4.ml-8.logo-funding(src="/assets/logo_ministerio.png" alt="Logo ministerio")
    v-col.pa-2(cols="auto")
        p {{ $t('common.madeBy') }}
        a(href="https://amoved.es" target="_blank")
            img.mt-4.ml-8.logo-amoved(src="/assets/logo_amoved.svg" alt="Logo amoved")

</template>

<script setup lang="ts">
import { toTypedSchema } from '@vee-validate/zod'
import { z } from 'zod'
import { Role } from '~/ddd/auth/domain/user';

const visible = ref(false);

const { signIn } = useAuth()
const { setToken, data: session } = useAuthState()

const registerSchema = z.object({
    email: z.string().email(),
    password: z.string().optional()
})

const form = useForm({
    validationSchema: toTypedSchema(registerSchema),
})

// Configure error messages
const vuetifyConfig = (state) => ({
    props: {
        'error-messages': state.errors,
    },
})

// Declare emailField ref for autofocus
const [email, emailAttrs] = form.defineField('email', vuetifyConfig);
const [password, passwordAttrs] = form.defineField('password', vuetifyConfig);

const loading: Ref<boolean> = ref(false)
const loginFailed: Ref<boolean> = ref(false)
const emailField = ref(null)
const forgotPassEmailSent: Ref<boolean> = ref(false)

async function forgot() {
    console.log("Lets try to recover your account")
    const validation = await form.validate()
    console.log(validation)
    if (!validation.valid) {
        emailField.value.focus()
        return
    }

    try {
        loading.value = true
        console.log("Calling backend for email:")
        console.log(email.value)
        const { data: result } = await useFetch('/api/auth/recover', {
            method: 'put',
            body: {
                email: email.value
            }
        })
        console.log(result)
        if (result.value?.recoverySent) {
            forgotPassEmailSent.value = true
        }
        loading.value = false
    } catch (e) {
        console.log("Request error")

        console.log(e)
    }
}

async function submit() {

    loginFailed.value = false

    const validation = await form.validate()
    if (!validation.valid) {
        console.log("Form not valid")
        return
    }

    try {
        loading.value = true
        await signIn({ email: email.value, password: password.value }, { redirect: false })
        loading.value = false
    } catch (e) {
        loading.value = false
        loginFailed.value = true
        return
    }

    password.value = ''
    if (session.value.user.role == Role.ADMIN) {
        console.log("navigate to admin")
        navigateTo('/admin')
    } else {
        console.log("navigate to /")
        navigateTo('/')
    }

}

definePageMeta({
    auth: {
        unauthenticatedOnly: true,
    },
    layout: 'no-paper'
})


</script>

<style lang="scss" scoped>
.first-row {
    margin-top: -9rem;
}
.v-text-field:first-of-type {
    margin-top: 3rem;
}

.v-input:deep(.v-field) {
    background-color: rgb(var(--v-theme-surface));
}

.v-input:deep(.v-field__overlay) {
    background-color: rgb(var(--v-theme-surface));
}

.v-input:deep(.v-input__details) {
    padding-bottom: 6px;
}

.btn-forgot-pass {
    margin-left: auto;
    margin-right: 0px;
}

.full {
    width: 100%;
}

p {
    color: rgb(var(--v-theme-medium-grey))
}

img {
    width: auto;
    height: 80px;
}

.logo-funding {
    height: 50px;
}

.logo-amoved {
    width: auto;
    height: 40px;
}
</style>