<template lang="pug">
h1 Condiciones y política de privacidad
h3.mt-4.mb-2 1. IDENTIFICACIÓN DE LA ENTIDAD RESPONSABLE
p {{ 'FUNDACIÓN HOGAR DEL EMPLEADO (FUHEM), CON C.I.F. G-28419679 y domicilio en Avenida de Portugal 79 (posterior), Madrid, fundación sin ánimo de lucro inscrita en el Registro de Fundaciones de Competencia Estatal del Ministerio de Justicia (nº de registro 2319JUS).\nContacto: https://www.fuhem.es/contacto/\nProtección de datos FUHEM: dpd@fuhem.es'}}
h3.mt-4.mb-2 2. ¿CON QUÉ FINALIDAD TRATAREMOS LOS DATOS Y DURANTE CUÁNTO TIEMPO?
p {{ 'El presente formulario tiene como finalidad que el profesorado que lo desee puedan realizar una programación anual de su materia o área en el marco de la LOMLOE con perspectiva ecosocial.\n La información del profesorado recogida por FUHEM a través del formulario será tratada con la única finalidad de gestionar esta herramienta de programación, facilitando el envío de las instrucciones y claves para su uso. \n FUHEM garantiza que no tendrá acceso a las programaciones que se realicen y, por lo tanto, no las compartirá con ninguna persona o entidad.\nLos datos del profesorado se conservarán durante el tiempo necesario para la realización de la finalidad para la que fueron recogidos, salvo que el mismo solicite su baja, se oponga o revoque su consentimiento, o exista una obligación legal de conservarlos por un tiempo superior.'}}
h3.mt-4.mb-2 3. ¿QUÉ DATOS TRATAREMOS?
p {{ 'El formulario no pretende recoger datos de carácter personal, siendo su objetivo la aportación de datos identificativos y de contacto del profesorado. El único dato de carácter de personal es la dirección de correo electrónico de contacto del profesorado. Dicho campo cumple con los criterios de la Agencia Española de Protección de Datos.\nEn caso de que el profesorado facilite datos de terceros, manifiesta estar legalmente legitimado para hacerlo y/o, en su caso, contar con su consentimiento, comprometiéndose a trasladar a la persona o entidad titular de dichos datos, la información contenida en esta Política de privacidad, eximiendo a FUHEM de cualquier responsabilidad en este sentido.'}}
h3.mt-4.mb-2 4. ¿CUÁNDO ES OBLIGATORIO FACILITAR DATOS?
p {{'En el formulario de inscripción se indicará cuáles de los datos solicitados tienen carácter obligatorio para cumplir con las finalidades establecidas. Por lo tanto, si no se facilitan estos datos o no se facilitan correctamente, el profesorado no podrá usar la herramienta.'}}
h3.mt-4.mb-2 5. ¿CUÁL ES LA LEGITIMACIÓN DEL TRATAMIENTO DE SUS DATOS?
p {{ 'La base legal para el uso de los datos e informaciones recabadas durante el uso de la herramienta, con las finalidades indicadas, será, en todo caso, el consentimiento de la persona o entidad afectada.'}}
h3.mt-4.mb-2 6. ¿CON QUIÉN COMPARTIREMOS LOS DATOS?
p {{ 'FUHEM no compartirá los datos con ninguna persona o entidad, salvo obligación legal.'}}'
h3.mt-4.mb-2 7. ¿DÓNDE SE VAN A TRATAR LOS DATOS?
p {{ 'En caso de que para el correcto desarrollo del estudio resulte absolutamente necesario que el tratamiento de los datos se realice parcial o totalmente fuera del Espacio Económico Europeo, quedará garantizando un nivel adecuado de protección de acuerdo con la legislación aplicable, ya sea porque el país u organización de destino ofrezca dicha garantía, o porque la persona o entidad encargada del tratamiento se haya comprometido contractualmente a la misma. Si el profesorado desea más información sobre estas garantías, contacte con Protección de datos de FUHEM.'}}
h3.mt-4.mb-2 8. ¿QUÉ DERECHOS TIENEN LAS PERSONAS O ENTIDADES USUARIAS, Y CÓMO PUEDEN EJERCITARLOS?
p {{ 'De haber tratamiento de datos personales (únicamente, en su caso, el correo electrónico, según se ha indicado más arriba), el profesorado podrá ejercitar en cualquier momento y de manera gratuita los derechos reconocidos por la normativa de protección de datos (revocar consentimientos, acceder a los datos que están siendo tratados, rectificarlos, solicitar su supresión o portabilidad y/o limitar su tratamiento, según sea exigible) ante Protección de datos de FUHEM (dpd@fuhem.es).\nPara el ejercicio de los derechos será preciso ponerse en contacto con Protección de datos de FUHEM por el canal más arriba indicado, señalando el derecho o derechos que desee ejercitar. FUHEM estudiará su solicitud con la finalidad de darle una respuesta a la mayor brevedad posible. Por favor, tenga en cuenta que los derechos señalados solo podrán ser atendidos en los supuestos previstos por la normativa de protección de datos.\nIgualmente, si lo estima oportuno, puede presentar una reclamación ante la autoridad competente en la materia.'}}
h3.mt-4.mb-2 9. ¿QUÉ RESPONSABILIDADES TIENE EL PROFESORADO EN RELACIÓN CON LOS DATOS?
p {{ 'Garantiza que tiene la capacidad jurídica necesaria para facilitar a FUHEM y autorizar el tratamiento de los datos en los términos de la presente Política de Privacidad, y que dichos datos son verdaderos, exactos, completos y actualizados. A estos efectos, el profesorado responde de la veracidad de todos los datos que comunique y mantendrá convenientemente actualizada la información facilitada, de tal forma que responda a su situación real.\nGarantiza que, en caso de facilitar datos de terceros, ha informado a los mismos de todos los aspectos contenidos en esta Política de Privacidad así como que, o bien está legalmente legitimado para realizar dicha comunicación de datos para los fines señalados o, en su caso, que ha obtenido la autorización del tercero para ello.\nSerá responsable de las informaciones falsas o inexactas que proporcione y de los daños y perjuicios, directos o indirectos, que ello cause a las Entidades responsables o a terceros.\nFacilitará los enlaces y claves de acceso a las encuestas única y exclusivamente a su comunidad educativa, comprometiéndose a promover la participación de los mismos en el estudio a fin de conseguir una información lo más precisa posible.'}}
h3.mt-4.mb-2 10. ¿QUÉ MEDIDAS DE SEGURIDAD ADOPTAREMOS EN EL TRATAMIENTO DE DATOS?
p {{ 'Los datos serán custodiados por FUHEM en sistemas que garanticen la máxima confidencialidad y seguridad de la información, conforme a lo previsto en la normativa aplicable, adoptando al efecto las medidas de índole técnica y organizativas necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos y los riesgos a que están expuestos.'}}

h2.mt-8.mb-4 Política de cookies
p {{ 'Este sitio web (en adelante, la web) es propiedad de FUHEM.\nFUHEM le comunica que no utilizamos cookies u otros archivos de funcionalidad similar para recabar información de las personas que navegan por esta web. Las cookies que utilizamos son estrictamente técnicas y tienen la única finalidad de facilitar su navegación por la web.\nSi desactiva las cookies, puede que su navegación por la web no sea óptima y algunas de las utilidades de que dispone no funcionen correctamente.'}}
</template>
<script setup>
definePageMeta({
    auth: false
})
</script>
<style scoped>
h2 {
    font-size: 1.5rem;
}
p {
    white-space: pre-line;
}
</style>