<template lang='pug'>
v-row.mt-md-12(align='center' justify='center')
    v-col.pa-md-3(cols="4")
        h1 {{$t('common.register')}}
        v-divider
        v-form(ref='registerForm')

            v-text-field(v-model='name' type='name'
                v-bind='nameAttrs'
                :label='$t("common.name")' autocomplete='name'
            )

            v-text-field(v-model='email' type='email'
                v-bind='emailAttrs'
                :label='$t("common.email")' autocomplete='email'
            )

            v-text-field(v-model='password' type="password"
                v-bind='passwordAttrs'
                :label="$t('common.password')"
            )

            v-text-field(v-model='passwordConfirm' type="password"
                v-bind='passwordConfirmAttrs'
                :label="$t('common.password_confirm')"
            )

            v-text-field(v-model='code' type="code"
                v-bind='codeAttrs'
                :label="$t('common.license_code')"
            )

            v-checkbox(v-model="terms"
                v-bind='termsAttrs'
            )
                template(v-slot:label)
                    a.text-decoration-underline(target="_blank" @click="navigateTo('/privacy',{ open: { target: '_blank', windowFeatures: {width: 900,height: 700}}})")
                        span {{ $t('common.privacyPolicy') }}
                        v-icon.ml-1(icon="mdi-open-in-new" size="x-small")
            
            v-alert(v-if='registerFailed' variant="outlined" type="error" icon="$error" :title="$t('common.error')" :text="$t('register.error')") 

        v-row.my-4
            Btn(variant="text" @click="navigateTo('/')" :label="$t('common.back')")
                template(v-slot:prepend)
                    v-icon(icon="mdi-arrow-left")
            v-spacer
            Btn(@click='register' :disabled='loading' :loading='loading' :label="$t('common.send')")
</template>

<script setup lang="ts">
import { useForm } from 'vee-validate'
import { toTypedSchema } from '@vee-validate/zod'
import { z } from 'zod'

const { locale: currentLocale } = useI18n()

// Form schema
const registerSchema = z.object({
    name: z.string(),
    email: z.string().email(),
    password: z.string().min(8),
    passwordConfirm: z.string(),
    code: z.string(),
    terms: z.literal(true,{ required_error: "You have to agree on the terms and conditions" })
}).superRefine(({ password, passwordConfirm }, ctx) => {
    if (password !== passwordConfirm) {
        ctx.addIssue({
            code: "custom",
            message: "Passwords doesn't match",
            path: ['passwordConfirmMatch']
        })
    }
})

const form = useForm({
    validationSchema: toTypedSchema(registerSchema),
})

// Configure error messages
const vuetifyConfig = (state) => ({
    props: {
        'error-messages': state.errors,
    },
})

const [name, nameAttrs] = form.defineField('name', vuetifyConfig);
const [email, emailAttrs] = form.defineField('email', vuetifyConfig);
const [password, passwordAttrs] = form.defineField('password', vuetifyConfig);
const [passwordConfirm, passwordConfirmAttrs] = form.defineField('passwordConfirm', vuetifyConfig);
const [terms, termsAttrs] = form.defineField('terms', vuetifyConfig);
const [code, codeAttrs] = form.defineField('code', vuetifyConfig);

const loading: Ref<boolean> = ref(false)
const registerFailed: Ref<boolean> = ref(false)

async function register() {
    console.log("Register triggered")

    const validation = await form.validate()
    if (!validation.valid) {
        console.log("Form not valid")
        return
    }

    try {
        loading.value = true
        const { data: user } = await useFetch('/api/user', {
            method: "post",
            body: {
                name,
                email,
                password,
                terms,
                code,
                locale: currentLocale.value
            },
            watch: false
        })

        // Check if API returned the new user
        if (user.value?.id) {
            navigateTo('/verify')
        } else {
            registerFailed.value = true
        }

    } catch (e) {
        console.log(`Error ${e}`)
    }
    loading.value = false
}

definePageMeta({
    auth: false
})

</script>
<style scoped lang="scss">
.v-card-title {
    font-size: 24px;
    font-weight: bold;
}

.v-form {
    margin-top: 2rem;
}
</style>