<template lang='pug'>
v-col.main(cols="6")
    v-sheet.my-6.pa-6(elevation="4" max-width="1200" width="100%")
        v-container

            v-row(v-if="status === 'authenticated'")
                toolbar 

            v-row(justify="center")
                v-col
                    h1 HEPE 🌱👩🏽‍🏫
            
            v-row
                v-col
                    p Herramienta Educativa para la Programación Ecosocial
                    
            v-row(justify="space-evenly") 
                v-col
                    v-btn(@click="navigateTo('/login')") {{$t("common.login")}}
                    v-btn(@click="navigateTo('/register')") {{$t("common.register")}}

</template>
<script setup lang="ts">
    const { status } = useAuth() // status = 'unauthenticated' | 'authenticated'

    definePageMeta({ 
        auth: true
    })

</script>
<style scoped>
    .main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
