<template lang='pug'>
v-row.mt-md-5.ma-0(align='center' justify='center')
    v-col.pa-0.pa-md-3(cols='12' md="5" lg="4" xl="3")

        h1 {{$t('common.verify')}}
        p.mt-8(v-html="$t('register.verify')")
        Btn.mt-4(variant="text" @click="navigateTo('/')" :label="$t('common.home')")
                template(v-slot:prepend)
                    v-icon(icon="mdi-arrow-left")
                    
</template>

<script setup lang="ts">

    const route = useRoute()

    if(route.query.code){
        console.log('Got code, verifying user')
        console.log(route.query.code)
        try {
            const { data: isVerified } = await useFetch('/api/auth/verify', {
                method: "put",
                body: { 
                    temporaryAccessToken: route.query.code
                }
            })

            console.log("Request result:")
            console.log(isVerified)

            if(isVerified){
                navigateTo('/activated-account')
            }
        } catch(e) {
            console.log("can't verify user")
            console.log(e)
        }
    }

    definePageMeta({ 
        auth: false,
        layout: "no-paper"
    })

</script>
    