<template lang="pug">
aside.sidebar
    .sidebar-inner
        .sidebar-header
            v-row(align="center")
                v-col.pr-0(cols="2" align="center")
                    v-icon {{ "mdi-school" }}
                v-col(cols="10" align="start")
                    p.sidebar-title {{ course.name ? $t('education.sidebarTitle',{courseName: course.name,academicYear: course.academicYear}) : $t('education.defaultSidebarTitle')}} 
        nav.sidebar-nav
            ul
                li(
                    v-for="(item, index) in menuItems" 
                    :key="index"  
                    :class="{ 'active': isActive(index), 'inactive': !isActive(index), 'past': isDone(index) }"
                )
                    .menu-item(:class="{ 'active': isActive(index), 'inactive': !isActive(index), 'past': isDone(index) }")
                        v-row(align="center")
                            v-col.pr-0(cols="2" align="center")
                                v-icon(
                                    :icon="isDone(index) ? 'mdi-file-check' : 'mdi-file-outline'"
                                    :color="isActive(index) ? 'primary' : 'medium-grey'"
                                ) 
                            v-col(cols="8" align="start")
                                span {{ $t(item.text) }}
                            v-col.pl-0(cols="2" align="start")
                                v-icon.arrow(
                                    v-if="isActive(index)"
                                    icon="mdi-arrow-right"
                                    color="primary"
                                )
</template>

<script setup>
const { currentStep } = useStep() 
const programStore = useProgramStore()
const { course } = storeToRefs(programStore)
const isActive = (index) => index + 1 == currentStep.value
const isDone = (index) => index + 1 < currentStep.value

const menuItems = [
  { text: 'education.sidebar.course'},
  { text: 'education.sidebar.basicWisdoms'},
  { text: 'education.sidebar.ecosocialLearnings'},
  { text: 'education.sidebar.evaluationCriteria'},
  { text: 'education.sidebar.ecosocialBasicWisdoms'},
  { text: 'education.sidebar.learningUnits'},
  { text: 'education.sidebar.learningUnitsEEvCrs'},
  { text: 'education.sidebar.choseEBWs'},
  { text: 'education.sidebar.orderLUs'},
  { text: 'education.sidebar.download'},
]
</script>

<style scoped lang="scss">
.sidebar {
    position: relative;
    width: 100%;
    height: 100%;
    color: rgb(var(--v-theme-medium-grey));
    border-right: rgb(var(--v-theme-light-border)) solid 1px;

    .sidebar-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        .sidebar-header {
            padding: 1rem;
            color: rgb(var(--v-theme-text));
            background-color: rgb(var(--v-theme-surface-bright));
            
            .sidebar-title {
                margin: 0;
                font-weight: 600;
            }
        }
        
        .sidebar-nav {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                
                .menu-item {
                    display: flex;
                    align-items: center;
                    padding: 1.5rem 1rem;
                    cursor: pointer;
                    
                    &.active {
                        background-color: var(--v-theme-sidebar-active-item);

                        span{
                            text-decoration: none;
                            color: rgb(var(--v-theme-primary));
                        }
                    }

                    &.inactive {
                        span {
                            text-decoration: none;
                            color: rgb(var(--v-theme-medium-grey));
                        }
                    }
                    &.past{
                        span{
                            color: rgb(var(--v-theme-text));
                        }
                    }

                    .arrow {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}
</style>